@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="contentwrapper">
    <main role="main" id="main">
        <section class="header-image">
            <img src="~/gfx/interface/header-howitworks.png" alt="" />
        </section>
        <section class="content-medium">
            <div class="twocolumns">
                <div class="twocolumns-content">
                    @*<h1>Как это работает</h1>*@
                    <div class="content-bg">
                        <div class="ordered-list">
                            <h2 class="fontlatobold"><span>1</span>Стань участником</h2>
                            <div class="fontlatoregular">
                                <p>Получи Пластиковую карту у наших <a href="/Partners" style="text-decoration:underline; color: #6174D5;">Партнеров</a> заполнив небольшую анкету участника.</p>
                                <p>Загрузи наше мобильное приложение <a href="/MobileApplication" style="text-decoration:underline; color: #6174D5;">«ПОЖАЛУЙСТА»</a> и пройди простую регистрацию.</p>
                                <p>Получи Виртуальную карту прямо сейчас, <a href="#"  data-toggle="modal" data-target="#register-modal" style="text-decoration:underline; color: #6174D5;">зарегистрировавшись</a> на нашем сайте.</p>
                            </div>
                        </div>
                        <div class="ordered-list">
                            <h2 class="fontlatobold"><span>2</span>Накапливай Бонусы</h2>
                            <div>
                                <p>Предъяви карту или назови свой номер мобильного телефона при совершении покупок у наших <a href="/Partners" style="text-decoration:underline; color: #6174D5;">Партнеров</a> и получи до 50% бонусов от суммы покупки (1 <span class="star-span"></span> = 1 рубль скидки).</p>
                                <p>Бонусы автоматически зачислятся на личный счет.</p>
                            </div>
                        </div>
                        <div class="ordered-list ordered-list">
                            <h2 class="fontlatobold"><span>3</span>Используй Бонусы</h2>
                            <div>
                                <p>Выбери товары или услуги.</p>
                                <p>Предъяви карту или назови свой номер мобильного телефона, озвучь продавцу количество Бонусов, которое собираешься использовать.</p>
                                <p>Получи скидку до 99%.</p>
                            </div>
                        </div>
                        <div class="form-center-item">
                            <div>
                                <p>
                                    <p class="fontlatoregular">1 <span class="star-span"></span> = 1 рубль скидки</p>
                                    Если на Вашем бонусном счете есть Бонусы, это значит, что Партнеров программы «ПОЖАЛУЙСТА» можно использовать их в качестве скидки до 99% от стоимости покупки.
                                </p>
                                <br />
                                @if (UserSession.user_id > 0)
                                {
                                <a href="/MyCards"><button type="button" class="btn">Зарегистрироваться</button></a>
                                }
                                else
                                {
                                    <a href="#" data-toggle="modal" data-target="#register-modal"><button type="button" class="btn">Зарегистрироваться</button></a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twocolumns-aside" style="padding-top: 10px;">
                 @Html.Partial("_leftcolumnActions")
                </div>
            </div>
        </section>
    </main>
</div>
