
@{
    ViewBag.Title = "Rules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="contentwrapper">
    <main role="main" id="main">

        <section class="content-medium">

            <div class="twocolumns">
                <div class="twocolumns-content">
                    <br/>
                    <h2>Правила и условия участия в программе "Пожалуйста"</h2>
                    
                    <div class="content-bg">
                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle1"><h1>Термины и Определения</h1></a>
                            <div class="faq-toggle1" style="display: none;">
                                <p style="color: #6174D5;">1. ОПЕРАТОР ПРОГРАММЫ – ООО «Пожалуйста» Владелец и Оператор Программы «Пожалуйста» (Далее – «Оператор» и «Программа»). Программа реализовывается в точках продаж Партнеров Программы. Актуальная информация о Партнерах Программы, акциях и специальных предложениях размещена на сайте Программы <a href="plizcard.ru" style="text-decoration:underline; color: #6174D5;">plizcard.ru</a>.</p>
                                <p style="color: #6174D5;">2. Система – информационно-технологическое оборудование и совокупность пользовательских интерфейсов, на базе которых реализовывается Программа «Пожалуйста».</p>
                                <p style="color: #6174D5;">3. Программа «Пожалуйста» — комплекс взаимосвязанных действий и мероприятий, предоставляющих возможность Участникам при совершении покупок товаров (работ, услуг) у Партнеров, Оператора, а также за выполнение определенных действий в рамках акций Программы получать бонусы, определяющие объем Прав Участника на особые условия обслуживания у Партнеров, Оператора.</p>
                                <p style="color: #6174D5;">4. Условия Участия — настоящие Условия, Правила Программы, актуальная (действующая) редакция которых доступна для ознакомления каждому Участнику и Партнеру Программы на сайте <a href="plizcard.ru" style="text-decoration:underline; color: #6174D5;">plizcard.ru</a>.</p>
                                <p style="color: #6174D5;">5. Анкета — составленное в письменной форме (в том числе в форме электронного документа) заявление физического лица (потребителя), заполняемое Участником и содержащее информацию об Участнике (фамилия, имя, отчество, дата рождения, пол, номер телефона, адрес электронной почты, иные сведения).</p>
                                <p style="color: #6174D5;">6. Участник (Участник Программы) — физическое лицо, достигшее 14 лет, имеющее документ, удостоверяющий личность, держатель Карты, подтвердивший свое согласие на участие в Программе «Пожалуйста».</p>
                                <p style="color: #6174D5;">7. Партнер — индивидуальный предприниматель или юридическое лицо, подписавшее с Оператором договор, (соглашение) об участии в Программе «Пожалуйста», осуществляющее сбор и передачу Оператору, информации, необходимой для начисления/списания баллов Участникам.</p>
                                <p style="color: #6174D5;">8. «Идентификатор участника» - пластиковая или виртуальная карта, выпущенная Оператором для реализации Программы или номер мобильного телефона Участника Программы.</p>
                                <p style="color: #6174D5;">9. «Бонус» (балл, бонус, бонусный балл) – расчетные условные единицы, зачисляемые на личный бонусный счет участника в соответствии с Настоящими Правилами. Бонусы не имеют наличного выражения, и не предоставляют право на получение их в денежном эквиваленте, а определяют объём прав Участника на особые условия обслуживания у Партнеров Программы и Оператора.</p>
                                <p style="color: #6174D5;">10. «Бонусный счет участника» (Бонусный счет) – совокупность учетных и информационных данных в базе данных системы о количестве начисленных/списанных Баллов и текущем балансе.</p>
                                <p style="color: #6174D5;">11. Расходование (использование, списание) бонусов — означает предоставление Партнером или Оператором Участнику и использование последним Прав на особые условия обслуживания. При получении Оператором информации об использовании Участником баллов Оператор уменьшает количество учтенных по Счету Участника в Программе «Пожалуйста» бонусов на сумму, соответствующую объему использованных Прав на особые условия обслуживания, в соотношении 1 Бонус = 1 Российский рубль скидки.</p>
                                <p style="color: #6174D5;">12. Активация – процедура отмены Оператором установленного при выпуске Карты «Пожалуйста» независимо от ее типа технического ограничения на списание (использование) Участником Программы накопленных на Счете бонусов в соответствии с Условиями Участия.</p>
                                <p style="color: #6174D5;">13. Персональный код - цифровой код, используется для идентификации Участника Программы или регистрации Участника в Программе и личном кабинете Участника.</p>
                            </div>
                        </article>
                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle2"><h1>Общие положения программы «Пожалуйста»</h1></a>
                            <div class="faq-toggle2" style="display: none;">                                
                                <p style="color: #6174D5;">1. Физическое лицо, желающее принять участие в Программе, должно предварительно ознакомиться с настоящими Условиями Участия и выразить свое желание на получение Карты, сообщив об этом Оператору, Партнеру или иному лицу, имеющему право на выдачу карт Программы. Получение Карты возможно у Оператора, Партнеров и иных лиц, авторизованных Оператором путем заключения соответствующих соглашений. Перечень лиц, имеющих право на выдачу Карт, указывается на сайте Программы. Основания присоединения и условия участия в Программе могут быть изменены Оператором в одностороннем порядке в любое время, в частности при проведении рекламных и маркетинговых программ в рамках реализации Программы. Оператор/Партнер/лицо, выдающее Карту также уполномочен потребовать обязательной Активации Карты до ее выдачи Участнику. Особенностями участия для различных типов Карт могут быть установлены дополнительные требования к Клиентам и/или предусмотрены дополнительные действия, которые Клиент должен совершить для получения Карты и вступления в Программу. Клиенту, совершившему вышеуказанные действия, выдается Карта. Получив и используя в дальнейшем Карту, Участник подтверждает свое согласие с настоящими Условиями, Правилами, а также с тем фактом, что в указанные документы могут быть в дальнейшем внесены изменения, которые становятся с момента вступления их в силу обязательными для всех Участников.</p>
                                <p style="color: #6174D5;">2. Оператор вправе отказать в участии в Программе в случае отсутствия технической или иной возможности для этого на момент обращения.</p>
                                <p style="color: #6174D5;">3. Карта Программы является собственностью Оператора, если иное не установлено соглашением с Партнером и особенностями участия для различных типов Карт; Используется Участником для получения особых условий обслуживания у Партнеров или Оператора и не может быть передана другому лицу.</p>
                                <p style="color: #6174D5;">4. В случае утраты, кражи или повреждения Карты Участник обязан сообщить об этом Оператору по телефону Центра поддержки клиентов Программы указанному на сайте Программы <a href="plizcard.ru" style="text-decoration:underline; color: #6174D5;">plizcard.ru</a>. После получения сообщения Оператор производит блокировку такой Карты, а Участник вправе получить новую Карту с сохранением на ней всей информации.</p>
                                <p style="color: #6174D5;">5. Каждый Участник вправе иметь одновременно не более одной Карты Программы.</p>
                                <p style="color: #6174D5;">6. В случае если Участник не использует Карту в течение одного года в целях начисления и/ или списания Бонусов, учитываемые на Счете в Программе Бонусы могут быть аннулированы Оператором без уведомления Участника и предоставления такому Участнику какой-либо компенсации и/или Карта может быть переведена в статус, позволяющий производить только начисления Бонусов.</p>
                                <p style="color: #6174D5;">7. Оператор вправе вносить изменения в настоящие Условия в любое время без предварительного уведомления Участников. Информация об указанных изменениях публикуется на Сайте Программы <a href="plizcard.ru" style="text-decoration:underline; color: #6174D5;">plizcard.ru</a>.</p>
                                <p style="color: #6174D5;">8. Оператор и Партнеры вправе вносить любые изменения в перечень товаров (услуг), действий, в отношении которых начисляются/ списываются Бонусы, и изменять количество Бонусов, которые Участники получают/ расходуют в результате приобретения таких товаров и услуг.</p>
                                <p style="color: #6174D5;">9. Оператор оставляет за собой право в любое время приостановить, прекратить действие Программы, передать права на управление Программой другому лицу с размещением соответствующей информации на Сайте Программы.</p>
                                <p style="color: #6174D5;">10. При передаче прав на управление Программой другому лицу согласием Участника на смену Управляющей компании является продолжение им пользования Картой (проведение списания или начисления Бонусов по ней).</p>
                                <p style="color: #6174D5;">11. Партнеры Программы не уполномочены представлять, делать заявление или давать гарантию от имени Оператора и Программы, и Оператор не берет на себя обязательств в отношении таких заявлений или гарантий.</p>
                                <p style="color: #6174D5;">12. Участник предоставляет Оператору, аффилированным с ним юридическим лицам и Партнерам Программы, а также иным лицам, как вступающим с Оператором в договорные отношения по поводу предоставления в рамках Программы особых условий обслуживания и/или обеспечения участия Участников в Программе, так и без вступления в такие договорные отношения право обрабатывать любым законным способом свои персональные данные, указанные им в Анкете, в рамках и целях реализации Программы в соответствии с разделом «Обработка персональных данных» настоящих Условий.</p>
                                <p style="color: #6174D5;">13. Бонусы не имеют наличного выражения и не предоставляют право на получение их в денежном эквиваленте.</p>
                                <p style="color: #6174D5;">14. Оператор вправе приостановить и/или прекратить участие в Программе любого Участника и заблокировать Карту без уведомления в следующих случаях:
                                                                <ul style="color: #6174D5;">	
                                                                    <li>Участник  не соблюдает настоящие Условия, а также условия акций и иных предложений Программы;</li>
                                                                    <li>Участник совершил или намеревается совершить действия, расцененные Оператором как мошеннические, обман или прочие манипуляции, которые повлекли или могут повлечь за собой материальные, моральные и прочие вредоносные последствия различного типа и степени как для Оператора, Партнеров Программы, самого Участника или иных Участников, а также любого третьего лица;</li>
                                                                    <li>Участник злоупотребляет Программой в целом и/или какими-либо правами, предоставляемыми Участнику в рамках Программы. Для целей настоящих Условий под злоупотреблением (помимо прочего) понимаются недобросовестные действия Участника, направленные на накопление как можно большего количества бонусов на своем Счете в Программе без фактического приобретения товаров (работ, услуг) для собственных нужд (для личного потребления). За исключением случаев, явно предусмотренных рекламными акциями в рамках Программы и/или персональным предложением (информированием), направленным Участнику по электронной почте и/или на абонентский номер, Участник предоставляет информацию (сведения), вводящую в заблуждение Оператора или Партнеров Программы, либо не соответствующую действительности;</li>
                                                                    <li>В соответствии с требованиями государственных органов;</li>
                                                                </ul>
                                </p>
                                <p style="color: #6174D5;">15. Участник вправе прекратить свое участие в Программе в любое время путем направления Оператору письменного уведомления о прекращении участия. Указанное письменное уведомление составляется в свободной форме, должно содержать номер Карты и подпись Участника и направляется в конверте с обязательным вложением Карты. После получения уведомления Оператором участие в Программе данного Участника прекращается, а Бонусы аннулируются.</p>
                                <p style="color: #6174D5;">16. Датой и временем начала участия в Программе является дата и время подписания Анкеты Участником или получения (регистрации) виртуальной карты Программы</p>
                            </div>
                        </article>
                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle3"><h1>Регистрация участника в личном кабинете</h1></a>
                            <div class="faq-toggle3" style="display: none;">
                                <p style="color: #6174D5;">Для получения доступа в персональный кабинет Участника в Программе необходимо пройти регистрацию на сайте Программы <a href="plizcard.ru" style="text-decoration:underline; color: #6174D5;">plizcard.ru</a> :
                                    <ul style="color: #6174D5;">
                                        <li>Перейти по ссылке регистрации в личном кабинете;</li>
                                        <li>Ввести номер карты Программы;</li>
                                        <li>Ввести номер телефона Участника Программы;</li>
                                        <li>Подтвердить своё согласие с Настоящими Условиями, Правилами участия в Программе;</li>
                                        <li>Подтвердить номер телефона путём введения смс-кода отправленного Системой на указанный номер телефона;</li>
                                        <li>Завершить регистрацию нажатием на кнопку «Зарегистрироваться».</li>
                                    </ul>
                                </p>
                            </div>
                        </article>
                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle4"><h1>Идентификатор участника</h1></a>
                            <div class="faq-toggle4" style="display: none;">
                                <p style="color: #6174D5;">1. В качестве достаточного идентификатора участника Программы используются 4 (четыре) последние цифры, подтвержденного при регистрации в Программе, номера мобильного телефона. Также, в качестве идентификатора в Программе используется пластиковая карта, виртуальная карта, уникальный идентификатор которых, также, соответствует только одному конкретному участнику Программы.</p>
                                <p style="color: #6174D5;">2.В случае утери, замены или повреждении идентификатора участника Программы необходимо:
                                    <ul style="color: #6174D5;">
                                        <li>Самостоятельно изменить номер мобильного телефона в личном кабинете участника Программы и подтвердить изменения введением проверочного смс-кода, который система отправит на новый номер мобильного телефона;</li>
                                        <li>Обратиться к уполномоченному представителю Оператора для Получения новой Карты Программы. Старая карта блокируется, а накопленные бонусы, уровень поощрения и история покупок участника перезаписываются на новую карту.</li>
                                    </ul>
                                </p>
                            </div>
                        </article>

                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle5"><h1>Порядок начисления бонусов</h1></a>
                            <div class="faq-toggle5" style="display: none;">
                                <p style="color: #6174D5;">1. При совершении покупки у Партнера, Оператора, Участник предъявляет (сообщает номер) Карту, с помощью которой покупка регистрируется или 4-последние цифры номера телефона, и на Счет Участника в Программе начисляются Бонусы. Количество начисляемых Бонусов зависит от стоимости и/или количества и/или факта покупки товаров (работ, услуг), приобретенных с использованием Карты у Партнера. </p>                                
                                <p style="color: #6174D5;">2. Бонусы начисляются на полную стоимость покупки, независимо от суммы скидок, предоставляемых в рамках Программы в результате списания Бонусов, и/или в рамках иных программ лояльности, за исключением случаев, явно предусмотренных рекламными акциями в рамках Программы и/или персональным предложением (информированием), направленным Участнику по электронной почте и/или на абонентский номер). Особенности правил начисления Бонусов необходимо уточнять у Партнеров и на сайте Оператора <a href="plizcard.ru" style="text-decoration:underline; color: #6174D5;">plizcard.ru</a>.</p>
                                <p style="color: #6174D5;">3. Правила начисления определяются заранее в соответствующем Соглашении между Партнером и Оператором.</p>
                                <p style="color: #6174D5;">4. Начисление Бонусов проводится при любом способе оплаты (наличными, платежной картой и т.д.).</p>
                                <p style="color: #6174D5;">5. Для своевременного начисления Бонусов Партнер уведомляет Оператора о деталях и реквизитах соответствующей сделки (покупки) после получения оплаты от Участника и/или после исполнения сделки (получения Участником товара, выполнения работ, оказания услуг и т.п.) посредством соответствующих и регламентированных действий в Личном кабинете Партнера.</p>
                                <p style="color: #6174D5;">6. Документом, являющимся основанием для начисления Бонусов на Счет Участника, является кассовый чек (или иной документ, подтверждающий покупку в рамках Программы) на бумажном носителе с информацией о начисленных Бонусах и номером Карты.</p>
                                <p style="color: #6174D5;">7. Претензии по факту начисления Бонусов рассматриваются Оператором только при предъявлении оригинала кассового чека (или иной документ, подтверждающий покупку в рамках Программы) или его скан-копии, с указанием информации о начисленных Бонусах и номером Карты.</p>
                                <p style="color: #6174D5;">8. Участникам Программы также начисляются Бонусы за участие в различных рекламных и иных акциях Оператора и Партнеров Программы, таких как прохождение различных опросов, поздравления с праздничными событиями и т.п. При этом количество Бонусов, подлежащих начислению, определяется Оператором (в Соглашении с Партнером).</p>
                                <p style="color: #6174D5;">9. Бонусы за покупки товаров (услуг) в рамках Программы, а также за выполнение определенных действий в рамках акций Программы начисляются в течение 40 календарных дней с момента совершения указанных действий. (В зависимости от правоотношений с Партнером Оператор оставляет за собой право изменить срок начисления Бонусов, уведомив об этом Участников на сайте <a href="plizcard.ru" style="text-decoration:underline; color: #6174D5;">plizcard.ru</a>).</p>
                                <p style="color: #6174D5;">10. Бонусы, начисленные на Счет Участника и права, предоставляемые в рамках Программы, не могут быть проданы, переданы или уступлены другому лицу или использованы другим образом, кроме как в порядке, предусмотренном настоящими Условиями.</p>
                                <p style="color: #6174D5;">11. После выхода Партнера из Программы, сделки, совершаемые Участниками с таким Партнером в дальнейшем, не подпадают под действие Программы.</p>
                                <p style="color: #6174D5;">12. Начисление Бонусов за приобретение товаров и/или услуг в сети торгово-сервисных предприятий Партнеров осуществляется в соответствии с правилами, утвержденными индивидуально для каждого Партнера. Правила размещаются на рекламных носителях в торговых точках Партнеров или публикуются на Сайте Программы <a href="plizcard.ru" style="text-decoration:underline; color: #6174D5;">plizcard.ru</a></p>
                                <p style="color: #6174D5;">13. Правила начисления Бонусов при приобретении товаров и/или услуг у разных Партнеров могут отличаться:
                                    <ul style="color: #6174D5;">
                                        <li>Видами действий Участников, за которые могут начисляться Бонусы;</li>
                                        <li>Шкалой начисления Бонусов;</li>
                                        <li>Наличием различных порогов — количественных и/или качественных показателей действий Участников, при выполнении которых могут начисляться Бонусы;</li>
                                        <li>Ограничениями начисления Бонусов.</li>
                                    </ul>
                                </p>
                                <p style="color: #6174D5;">14. Бонусы могут не начисляться за покупку товара, продающегося по специальным предложениям. О таких ограничениях от Оператора производятся отдельные уведомления через имеющиеся каналы коммуникации с участником Программы.</p>
                                <p style="color: #6174D5;">15. Основанием для расчета бонусного поощрения является полная сумма покупки.</p>
                                <p style="color: #6174D5;">16. Один бонус эквивалентен одному рублю скидки.</p>
                            </div>
                        </article>

                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle6"><h1>Порядок использования бонусов</h1></a>
                            <div class="faq-toggle6" style="display: none;">
                                <p style="color: #6174D5;">1. После получения Карты до момента Активации Участнику доступно только начисление Бонусов в соответствии с настоящими Условиями Участия, учитывая акции и иные предложения Программы. Списание Бонусов по Карте возможно только после ее Активации, а именно:
                                    <ul style="color: #6174D5;">
                                        <li>Заполнено поле «Имя» в Базе данных Системы;</li>
                                        <li>Заполнено поле «Телефон» в Базе данных Системы;</li>
                                        <li>Заполнено поле «E-mail» в Базе данных Системы;</li>
                                        <li>Номер телефона подтвержден введением смс-кода при регистрации Участника у Оператора, Партнеров Программы в личном кабинете или при регистрации в личном кабинете Участника;</li>
                                        <li>E-mail подтвержден переходом по ссылке отправленной Системой в электронном письме на указанный E-mail сразу после регистрации Участника у Оператора, Партнеров Программы в личном кабинете или введением e-mail-кода в личном кабинете отправленного Системой при первичном самостоятельном заполнении поля e-mail Участником.</li>
                                    </ul>
                                </p>
                                <p style="color: #6174D5;">2. По техническим причинам некоторые способы Активации могут быть временно недоступны. В случае, если определенный способ Активации временно недоступен, Участник в целях Активации может воспользоваться иными способами.</p>
                                <p style="color: #6174D5;">3. Совершая конклюдентные действия по Активации Карты и направлению смс кода/e-mail кода/ переход по ссылке из электронного письма отправленного Системой при первичном заполнении поля «e-mail»/нажимая кнопку Зарегистрироваться в Программе в личном кабинете Участника/используя Карту по назначению и смыслу Настоящих Условий, Участник подтверждает свое безоговорочное согласие с настоящими Условиями Участия без каких-либо изъятий или ограничений по правилам присоединения к договору (статья 428 Гражданского кодекса Российской Федерации), а также выражает свое согласие на обработку Оператором персональных данных, указанных Участником в Анкете (бумажный носитель и электронная анкета в Личном кабинете Участника) соглашается с условиями информирования в соответствии с разделом «Обработка персональных данных» и подтверждает достоверность указанных в Анкете данных.</p>
                                <p style="color: #6174D5;">4. На время проведения акций стороны вправе устанавливать иные правила учета Бонусов. Партнер и/ или Оператор вправе ограничивать объем прав на особые условия обслуживания, которые Участник вправе получить при расходовании Бонусов. Право на особые условия обслуживания у Оператора, у Партнеров может быть реализовано Участником в момент приобретения у Оператора, у этого Партнера товаров или услуг только после поступления анкетных данных Участника в базу данных Оператора и успешного прохождения процедуры Активации. Скидка в рамках Программы может предоставляться в размере стоимости покупки за вычетом не менее 1 рубля. Партнер вправе запросить у Участника паспорт или иной документ, удостоверяющий личность в соответствии с законодательством РФ. При не предоставлении Участником документа, удостоверяющего личность, Оператор/ Партнер вправе отказать в предоставлении особых условий обслуживания.</p>
                                <p style="color: #6174D5;">5. Участник обязуется самостоятельно принимать все необходимые меры по сохранности, предотвращению несанкционированного использования и защите своей Карты от несанкционированного доступа со стороны третьих лиц. Участник обязуется не передавать Карту третьим лицам для использования. Участник понимает и соглашается с тем, что операции, совершенные посредством Карты (ее реквизитов) считаются совершенными самим Участником. В случае возникновения у Участника подозрений относительно безопасности его Карты или возможности ее несанкционированного использования третьими лицами, Участник обязуется незамедлительно уведомить об этом.</p>
                                <p style="color: #6174D5;">6. Каждый Партнер вправе по согласованию с Оператором самостоятельно определять предоставляемые в качестве особых условий обслуживания преимущества. Описание преимуществ, предоставляемых Партнером в качестве особых условий обслуживания, размещается на рекламных носителях в торговых точках Партнеров и публикуется на Сайте Программы <a href="plizcard.ru" style="text-decoration:underline; color: #6174D5;">plizcard.ru</a>.</p>
                                <p style="color: #6174D5;">7. Правила списания Бонусов при приобретении товаров и/или услуг у разных Партнеров могут отличаться:
                                    <ul style="color: #6174D5;">
                                        <li>Преимуществами, которые Участники получают при реализации прав на особые условия обслуживания;</li>
                                        <li>Наличием различных порогов — количественных и/или качественных показателей действий Участников, при выполнении которых могут предоставляться права на особые условия обслуживания;</li>
                                        <li>Ограничениями списания Бонусов.</li>
                                    </ul>
                                </p>
                                <p style="color: #6174D5;">8. Бонусы могут быть списаны (аннулированы) по инициативе Оператора, в случае если они были начислены на Счет Участника ошибочно, в результате противоправных действий Участника или третьих лиц, в случае злоупотребления Участником Программой или по иным основаниям, помимо предусмотренных Правилами Программы, Настоящими Условиями.</p>
                                <p style="color: #6174D5;">9. Оператора вправе ограничить и/или приостановить Права на особые условия обслуживания и возможность списания Бонусов для всех и/или отдельных категорий Участников в порядке и в случаях, предусмотренных Настоящими Условиями.</p>
                            </div>
                        </article>

                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle7"><h1>Коммуникации</h1></a>
                            <div class="faq-toggle7" style="display: none;">
                                <p style="color: #6174D5;">1. В рамках Программы предусмотрены каналы коммуникации с Участниками через:
                                    <ul style="color: #6174D5;">
                                        <li>телефон (звонок);</li>
                                        <li>sms;</li>
                                        <li>e-mail;</li>
                                        <li>кассовый чек;</li>
                                        <li>личный кабинет участника.</li>
                                    </ul>
                                </p>
                                <p style="color: #6174D5;">2. В рамках Программы предусмотрены следующие информационные поводы для коммуникации с участниками:
                                    <ul style="color: #6174D5;">
                                        <li>
                                            Операционные
                                            <ul style="list-style-type: circle; color: #6174D5;">
                                                <li>sms-коды для верификации номера телефона и участника;</li>
                                                <li>sms-сообщения, подтверждающие операции начисления и списания бонусов;</li>
                                                <li>e-mail-сообщения предоставляющие выписку по операциям начисления и списания бонусов за период;</li>
                                                <li>другие системные сообщения Программы.</li>
                                            </ul>
                                        </li>
                                        <li>
                                            Рекламные
                                            <ul style="list-style-type: circle; color: #6174D5;">
                                                <li>sms–уведомления об акциях и специальных предложениях;</li>
                                                <li>e-mail-уведомления об акциях и специальных предложениях;</li>
                                                <li>push-уведомления об акциях и специальных предложения в личный кабинет участника Программы;</li>
                                                <li>информационные сообщения на кассовый чек.</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </p>
                                <p style="color: #6174D5;">3. По умолчанию, Правилами Программы не предусмотрены ограничения на коммуникации с участниками. Принимая Настоящие Условия, Правила Программы, участник подтверждает возможность и дает разрешение на осуществление данных коммуникаций с ним, по имеющимся в системе каналам коммуникаций. Для отключения рекламных и операционных уведомлений участнику необходимо:
                                    <ul style="color: #6174D5;">
                                        <li>изменить соответствующее значение в личном кабинете;</li>
                                        <li>обратиться к уполномоченному представителю Оператора для внесения изменений в систему.</li>
                                    </ul>
                                </p>
                                <p style="color: #6174D5;">В качестве имени отправителя коммуникаций в Программе используются два наименования:
                                    <ul style="color: #6174D5;">
                                        <li>PLIZCARD – Оператор Программы</li>
                                        <li>LOYCON – Генеральный подрядчик Организатора осуществляющий информационно-технологическое обслуживание Программы.</li>
                                    </ul>
                                </p>
                            </div>
                        </article>

                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle8"><h1>Обработка персональных данных</h1></a>
                            <div class="faq-toggle8" style="display: none;">
                                <p style="color: #6174D5;">1. Вступая в Программу, в том числе при направлении Анкеты и прохождении Активации, а также используя в дальнейшем Карту Участник выражает свое информированное и сознательное согласие на обработку персональных данных, указанных в Анкете, ООО «Пожалуйста», которое является оператором персональных данных в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных).</p>
                                <p style="color: #6174D5;">2. Участник, в частности, предоставляет Оператором право осуществлять любые действия (операции) или совокупность действий (операций) с предоставленными персональными данными, совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных, а также обработку предоставленных персональных данных посредством внесения их в электронную базу данных.</p>
                                <p style="color: #6174D5;">3. Целью обработки предоставленных персональных данных является обеспечение участия в Программе и оказание Участнику маркетинговых услуг, в том числе посредством формирования персональных предложений о продаже товаров (работ, услуг, результатов интеллектуальной деятельности).</p>
                                <p style="color: #6174D5;">4. Участник осведомлен и согласен с тем, что обработка предоставленных персональных данных в вышеуказанных целях, осуществляется, в том числе, путем передачи (включая предоставление доступа) предоставленных персональных данных строго на условиях конфиденциальности и по поручению Оператора Партнерам Программы , перечень которых приведен на Сайте Программы, а также иным лицам, как вступающим с Оператором в договорные отношения по поводу предоставления в рамках Программы особых условий обслуживания и/или обеспечения участия Участников в Программе, так и без вступления в такие договорные отношения, в том числе.</p>
                                <p style="color: #6174D5;">5. Согласие на обработку предоставленных персональных данных действует до его отзыва Участником (бессрочно) или до установленного ФЗ №152-ФЗ «О персональных данных» момента прекращения оператором персональных данных обработки персональных данных. Отзыв согласия на обработку предоставленных персональных данных может быть осуществлен исключительно путем отправки соответствующего заявления в письменной форме на бумажном носителе на почтовый адрес Оператора, отзыв согласия иными способами не допускается.</p>
                                <p style="color: #6174D5;">6. Участник настоящим осведомлен с тем, что в соответствии с п. 2 ст. 9 ФЗ №152-ФЗ «О персональных данных», в случае отзыва согласия на обработку персональных данных оператор персональных данных вправе продолжить обработку персональных данных без согласия при наличии оснований, предусмотренных действующим законодательством Российской Федерации.</p>
                                <p style="color: #6174D5;">7. Вступая в Программу, в том числе при направлении Анкеты и прохождении Активации, а также используя в дальнейшем Карту Участник в соответствии со ст. 18 Федерального закона № 38-ФЗ от 13.03.2006 г. «О рекламе», ст. 44.1 Федерального закона от 07.07.2003 №126-ФЗ «О связи» также выражает свое согласие на получение от Оператора или от имени Оператора рекламной информации, распространяемой по сетям электросвязи, в том числе посредством использования телефонной, факсимильной, подвижной радиотелефонной связи, электронной почты, сети Интернет, на получение от имени Оператора рассылки по сети подвижной радиотелефонной связи посредством отправки коротких текстовых сообщений (сообщений, состоящих из букв и (или) символов, набранных в определенной последовательности), включая рассылки рекламного характера, а также на получение звонков от операторов Информационного центра Программы, в том числе путем осуществления прямых контактов. Участник может самостоятельно в любом момент отозвать свое согласие на предусмотренные настоящим пункты виды коммуникаций посредством осуществления соответствующих настроек (приведение соответствующего переключателя в положение «выключено») в личном кабинете на Сайте Программы (раздел «Профиль»). Согласие на получение рекламной информации, распространяемой по электронной почте, может быть также отозвано в любой момент посредством перехода по гипертекстовой ссылке, предусмотренной в каждом сообщении электронной почты.</p>
                            </div>
                        </article>

                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle9"><h1>Прочие условия</h1></a>
                            <div class="faq-toggle9" style="display: none;">
                                <p style="color: #6174D5;">1. Оператор Программы «Пожалуйста» оставляет за собой право изменить настоящие Правила и условия Программы в любое время без предварительного уведомления.</p>
                                <p style="color: #6174D5;">2. В целях повышения привлекательности Программы для Участников, увеличения перечня преимуществ, которые Участники вправе требовать в рамках Программы, обусловленных участием в Программе, Оператор вправе устанавливать правоотношения с третьими лицами, не являющимися Партнерами, регулирующие возможность получения Участниками особых условий обслуживания при оплате товаров (услуг, работ) третьих лиц, не являющихся Партнерами. Подробные условия получения Участниками особых условий обслуживания при оплате товаров (услуг, работ) третьих лиц, не являющихся Партнерами размещаются на сайте Программы <a href="plizcard.ru" style="text-decoration:underline; color: #6174D5;">plizcard.ru</a>.</p>
                                <p style="color: #6174D5;">3. Оператор Программы «Пожалуйста» оставляет за собой право прекратить работу Программы с предварительным уведомлением участника за один месяц до планируемой даты прекращения работы Программы, через имеющиеся с конкретным участником каналы коммуникации. В этом случае накопленные бонусы, должны быть использованы в течение срока действия Программы, в противном случае бонусы будут аннулированы.</p>
                                <p style="color: #6174D5;">4. Неправомерно или ошибочно начисленные бонусы считаются недействительными и будут аннулированы.</p>
                                <p style="color: #6174D5;">5. В случае возникновения спорных ситуаций, связанных с некорректным или ошибочным начислением и списанием, возникшими по техническим причинам, участнику необходимо:
                                    <ul style="color: #6174D5;">
                                        <li>обратиться к Оператору Программы через форму обратной связи размещенной в личном кабинете участника Программы;</li>
                                        <li>обратиться к уполномоченному представителю Оператора для проведения расследования и, при необходимости, внесения изменений в систему;</li>
                                    </ul>
                                </p>
                                <p style="color: #6174D5;">6. Оператор Программы «Пожалуйста» не несет ответственности за незнание участником Правил данной Программы.</p>
                                <p style="color: #6174D5;">7. Срок действия программы – бессрочная (неопределенный срок).</p>
                            </div>
                        </article>

                    </div>

                    

                </div>

                <div class="twocolumns-aside">
                    @Html.Partial("_leftcolumnActions")
                </div>
            </div>
        </section>
    </main>
</div>