@foreach(var item in Model)
{
    int id_partner_fileter=0;
    var partner_filter = UserSession.get("ActionPartnerFilter");
    if (partner_filter != null)
    {
        id_partner_fileter = (int)partner_filter;
    }

    <option value='@item.id' @((id_partner_fileter==item.id)?"selected":"")>@item.name</option>
}
