
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="contentwrapper">
    <main role="main" id="main">
        <section class="content-medium">
            <div class="twocolumns">
                <div class="twocolumns-content">
                    @*<h1>Мобильное приложение</h1>*@
                    <div class="content-bg">
                        <img style="padding-right: 10px;" src="~/gfx/interface/mob1.png" /><img style="padding-left: 10px;" src="~/gfx/interface/mob2.png" />                        
                        <div class="mobile-download">
                            <br/>
                            <p>Скачать</p>
                            <a href="#"><img src="/gfx/interface/app-appstore.png" /></a>&nbsp;<a href="#"><img src="/gfx/interface/app-googleplay.png" /></a>
                        </div>
                        @*<h2>ПОЖАЛУЙСТА</h2>*@
                        <p class="fontlatoregular">Вся информациях о Бонусах, текущих и новых акциях, персональных предложениях, партнерах в одном приложении. Накапливайте бонусы, делитесь с друзьями понравившимися акциями и партнерами, указывайте свои предпочтения.</p>

                        <p class="fontlatoregular">Загрузите мобильное приложение «ПОЖАЛУЙСТА» и будьте всегда в курсе актуальных мероприятий, акций и новостей проекта!</p>

                    </div>
                </div>
                <div class="twocolumns-aside" style="padding-top: 13px;">
                    @Html.Partial("_leftcolumnActions")
                </div>
            </div>
        </section>
    </main>
</div>
