<footer role="contentinfo" class="text-left">
    <div>
        <div id="footer-logo-copy" class="text-left">
            <a href="/"><img src="/gfx/interface/footer-logo.png" alt="ПОЖАЛУЙСТА"></a><br>
        </div>

        <div id="footer-menu" class="text-center">
            <ul>
                <li><strong style="font-family: Lato-Bold">Наши контакты</strong></li>
                <li><a class="footer-phone" href="tel:88633090257">8 (863)309-02-57</a><br></li>
                <li><a class="footer-email" href="mailto:info@plizcard.ru">info@plizcard.ru</a></li>
            </ul>
        </div>
    </div>
    <div style="font-size:80%;opacity:0.3; font-family:'Lato-Regular'; color: #666666;">
        2017 год. ООО «Пожалуйста». Все права защищены. <br/> 16+ Информацию об организаторах акций, правилах и сроках их проведения, условиях получения привилегий (бонусы и прочее)- смотрите в соответствующих разделах нашего сайта.
    </div>
</footer>


