
@{
    ViewBag.Title = "Favorites";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var myActions = API.GetClientCampaigns();
    var myPartners = API.GetClientPartners();
}
<div id="contentwrapper">
    <main role="main" id="main">
        <section class="content-medium">
            <div class="twocolumns">
                <div class="twocolumns-content">
                    @*<h1>Акции</h1>*@
                    <div class="actions">
                      @Html.Partial("_campaignsBlock", myActions)
                    </div>
                    @*<h1>Партнеры</h1>*@
                    <div class="actions">
                        @Html.Partial("_partnerBlock_min", myPartners)
                    </div>
                </div>
                <div class="twocolumns-aside">
                    @Html.Partial("_leftcolumnActions")
                </div>
            </div>
        </section>
    </main>
</div>
