
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="contentwrapper">
    <main role="main" id="main">
        <section class="header-image">
            <img src="/gfx/interface/header-card.jpg" alt="" />
        </section>
        <section class="content-medium">
            <div class="twocolumns">
                <div class="twocolumns-content">
                    <h1>Карты</h1>
                    <div class="content-bg">
                        <div class="card-line">
                            <div class="card-image" style="vertical-align:top;">
                                <img src="/gfx/fish/card11.png" />
                            </div>
                            <div class="card-description">
                                <h1 style="color:#33403F">Пластиковая карта</h1>
                                <p class="card-description-main">
                                Пластиковая карта «ПОЖАЛУЙСТА» позволяет получать за покупки у партнеров программы до 50% от суммы чека Бонусами, и даже больше во время специальных акций.<br/>
<span style="color:#33403F">1 <span class="star-span"></span> = 1 рубль скидки.<br/><br/></span>
<b>Как получить карту</b><br/>
Карту можно получить у наших Партнеров, которые выдают карту <a href="/Partners" style="text-decoration:underline">«ПОЖАЛУЙСТА»</a>. Необходимо заполнить простую анкету и пройти <a href="#" data-toggle="modal" data-target="#register-modal" style="text-decoration:underline">регистрацию</a> в Программе</p>
                            </div>
                        </div>
                        <div class="card-line">
                            <div class="card-image" style="vertical-align:top;">
                                <img src="/gfx/fish/card2.png" />
                            </div>
                            <div class="card-description">
                                <h1 style="color:#33403F">Виртуальная карта</h1>
                                <p class="card-description-main">
                                Виртуальная карта «ПОЖАЛУЙСТА» позволяет получать за покупки у партнеров программы до 50% от суммы чека Бонусами, и даже больше во время специальных акций. Не требует присутствия физического носителя, удобна для покупок в интернете.<br/>
                                    <span style="color:#33403F">1 <span class="star-span"></span> = 1 рубль скидки.</span>
</div>
                        </div>
                        <div class="form-center-item">
                        <b>Как получить карту</b><br />
                        Получите карту бесплатно прямо сейчас!<br /><br/>

                        @if (UserSession.user_id > 0)
                        {
                            <a href="/MyCards"><button type="button" class="btn btn-lg">Получить</button></a>
                        }
                        else
                        {
                            <a href="#" data-toggle="modal" data-target="#register-modal"><button type="button" class="btn btn-lg">Получить</button></a>
                        }
                            </div>



                    </div>
                </div>
                <div class="twocolumns-aside">
                    @Html.Partial("_leftcolumnActions")
                </div>
            </div>
        </section>
    </main>
</div>
