
            <div class="twocolumns">
                <div class="twocolumns-content fontlatoregular">
                    
                    <div class="content-bg">
                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle1"><h1>Как стать участником проекта «ПОЖАЛУЙСТА»?</h1></a>
                            <div class="faq-toggle1" style="display: none;">
                                <p style="color: #6174D5;">Необходимо получить одну из <a href="/Cards" style="text-decoration:underline; color: #6174D5;">наших карт</a></p>
                                <p style="color: #6174D5;">Пройти <a href="#" data-toggle="modal" data-target="#register-modal" style="text-decoration:underline; color: #6174D5;">регистрацию на сайте</a> или в <a href="/MobileApplication" style="text-decoration:underline; color: #6174D5;">мобильном приложении</a></p>
                             </div>
                        </article>
                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle2"><h1>Как и где получить карту «ПОЖАЛУЙСТА»?</h1></a>
                            <div class="faq-toggle2" style="display: none;">
                                <p style="color: #6174D5;">Пластиковую карту можно получить у наших <a href="/Partners" style="text-decoration:underline; color: #6174D5;">Партнеров</a></p>
                                <p style="color: #6174D5;"><a href="#" data-toggle="modal" data-target="#register-modal" style="text-decoration:underline; color: #6174D5;">Зарегистрироваться на сайте</a> и получить виртуальную карту</p>
                                <p style="color: #6174D5;"><a href="/MobileApplication" style="text-decoration:underline; color: #6174D5;">В мобильном приложении</a></p>
                            </div>
</article>
                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle3">
                                <h1>Как узнать баланс Бонусов по карте "ПОЖАЛУЙСТА"?</h1>
                            </a>
                            <div class="faq-toggle3" style="display: none;">
                                @if (UserSession.user_id > 0)
                                {
                                    <p style="color: #6174D5;"><a href="/Profile" style="text-decoration:underline; color: #6174D5;">В личном кабинете</a> на нашем сайте</p>
                                }
                                else
                                {
                                    <p style="color: #6174D5;"><a href="#" data-toggle="modal" data-target="#login-modal" style="text-decoration:underline; color: #6174D5;">В личном кабинете</a> на нашем сайте</p>
                                }
                                <p style="color: #6174D5;"><a href="/MobileApplication" style="text-decoration:underline; color: #6174D5;">В мобильном приложении</a></p>
                                <p style="color: #6174D5;">На кассе при совершении покупки</p>
                            </div>
</article>
                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle4">
                                <h1>Как получить пароль от личного кабинета?</h1>
                            </a>
                            <div class="faq-toggle4" style="display: none;">
                                <p style="color: #6174D5;"><a href="#" data-toggle="modal" data-target="#register-modal" style="text-decoration:underline; color: #6174D5;">Пройти регистрацию</a> на нашем сайте</p>
                                <p style="color: #6174D5;"><a href="/MobileApplication" style="text-decoration:underline; color: #6174D5;">Пройти регистрацию в мобильном приложении</a></p>
                            </div>
</article>
                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle5">
                                <h1>Как изменить пароль, восстановить доступ в личный кабинет?</h1>
                            </a>
                            <div class="faq-toggle5" style="display: none;">
                                @if (UserSession.user_id > 0)
                                {
                                    <p style="color: #6174D5;">Изменить пароль можно на сайте в личном кабинете или мобильном приложении в разделе <a href="/Profile" style="text-decoration:underline; color: #6174D5;">«Профиль»</a></p>
                                }
                                else
                                {
                                    <p style="color: #6174D5;">Изменить пароль можно на сайте в личном кабинете или мобильном приложении в разделе <a href="#" data-toggle="modal" data-target="#login-modal" style="text-decoration:underline; color: #6174D5;">«Профиль»</a></p>
                                }
                                <p style="color: #6174D5;">Для сброса пароля необходимо в окне авторизации перейти по ссылке «Забыли пароль» и пройти процедуру создания нового пароля для входа.</p>
                            </div>
</article>
                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle6">
                                <h1>Как изменить личные данные?</h1>
                            </a>
                            <div class="faq-toggle6" style="display: none;">
                                @if (UserSession.user_id > 0)
                                {
                                    <p style="color: #6174D5;">Отредактировать свои данные можно на сайте в личном кабинете или мобильном приложении в разделе <a href="/Profile" style="text-decoration:underline; color: #6174D5;">«Профиль»</a></p>
                                }
                                else
                                {
                                    <p style="color: #6174D5;">Отредактировать свои данные можно на сайте в личном кабинете или мобильном приложении в разделе <a href="#" data-toggle="modal" data-target="#login-modal" style="text-decoration:underline; color: #6174D5;">«Профиль»</a></p>
                                }
                            </div>
</article>
                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle7">
                                <h1>Как я могу узнавать об акциях и предложениях?</h1>
                            </a>
                            <div class="faq-toggle7" style="display: none;">
                                <p style="color: #6174D5;">На нашем сайте в разделе <a href="/Actions/New" style="text-decoration:underline; color: #6174D5;">«Акции»</a></p>
                                @if (UserSession.user_id > 0)
                                {
                                    <p style="color: #6174D5;">В личном кабинете в разделе «Персональные предложения». Персональные предложения можно настроить указав в настройках свои <a href="/Fovorites" style="text-decoration:underline; color: #6174D5;">предпочтения</a></p>
                                }
                                else
                                {
                                    <p style="color: #6174D5;">В личном кабинете в разделе «Персональные предложения». Персональные предложения можно настроить указав в настройках свои <a href="#" data-toggle="modal" data-target="#login-modal" style="text-decoration:underline; color: #6174D5;">предпочтения</a></p>
                                }
                            </div>
</article>
                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle8">
                                <h1>Как узнать сколько Бонусов будет начислено за покупку?</h1>
                            </a>
                            <div class="faq-toggle8" style="display: none;">
                                <p style="color: #6174D5;">Все начисления делятся на два типа: постоянные и повышенные</p>
                                <p style="color: #6174D5;">Размер постоянных начислений можно узнать на странице соответствующего Партнера.</p>
                                <p style="color: #6174D5;">Размер повышенных начислений можно узнать на странице соответствующей акции.</p>
                            </div>
</article>
                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle9">
                                <h1>Что делать если не зачислились или не списались Бонусы за покупку?</h1>
                            </a>
                            <div class="faq-toggle9" style="display: none;">
                                <p style="color: #6174D5;">Написать нам через форму обратной связи или на адрес электронной почты <a href="mailto:info@pozh-sta.ru" style="text-decoration:underline; color: #6174D5;">info@pozh-sta.ru</a>, а также позвонить по номеру <a href="tel:88633090257" style="text-decoration:underline; color: #6174D5;">8 (863)309-02-57</a> и сообщить детали покупки</p>
                                <p style="color: #6174D5;">В кратчайшие сроки мы разбираем претензию и сообщаем Вам о результатах.</p>
                            </div>
</article>
                        <article class="faq">
                            <a href="#" class="action-blocks-toggle" data-toggle-class="faq-toggle10">
                                <h1>Как стать партнером проекта и начислять/принимать Бонусы?</h1>
                            </a>
                            <div class="faq-toggle10" style="display: none;">
                                <p style="color: #6174D5;"><a href="/Partners/Register" style="text-decoration:underline; color: #6174D5;">Заполните анкету потенциального Партнера</a> и отправьте ее нам.</p>
                            </div>
</article>
                    </div>
                </div>
                
