@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="contentwrapper">
    <main role="main" id="main">
        <section class="header-image">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide loading">
                        <a href="/MobileApplication"><img data-src="/gfx/interface/header-main.png" class="swiper-lazy" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a data-toggle="modal" data-target="#register-modal" href="#"><img data-src="/gfx/interface/slide_2.png" class="swiper-lazy" /></a>
                    </div>
                    @*<div class="swiper-slide">
                        <a data-toggle="modal" data-target="#register-modal" href="#"><img data-src="/gfx/interface/slide_3.png" class="swiper-lazy" /></a>
                    </div>*@
                    @*<div class="swiper-slide">
                        <img data-src="/gfx/interface/slide_4.jpg" class="swiper-lazy" />
                    </div>*@                    
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
        <section class="content">
            <h1 style="color: #666666; text-align:center;">Как это работает</h1>
            <div class="partners">
                <div class="plate plate4">
                    <div class="partners-imageholder">
                        <img src='../gfx/interface/registerprogram.png' alt="Партнер" style="max-width:300px; max-height:200px;">
                    </div>
                    <div class="plate-desc">
                        <p class="plate-short">Регистрируйся в программе по номеру телефона</p>
                        <br />
                        <div class="plate-bar">
                            
                        </div>
                    </div>
                </div>
                <div class="plate plate4">
                    <div class="partners-imageholder">
                        <img src='../gfx/interface/phonenumber.png' alt="Партнер" style="width:300px; height:200px;">
                    </div>
                    <div class="plate-desc">
                        <p class="plate-short">Называй номер телефона при покупках</p>
                        <br />
                        <div class="plate-bar">

                        </div>
                    </div>
                </div>
                <div class="plate plate4">
                    <div class="partners-imageholder">
                        <img src='../gfx/interface/briefcase.png' alt="Партнер" style="width:300px; height:200px;">
                    </div>
                    <div class="plate-desc">
                        <p class="plate-short">Участвуй в акциях, копи бонусы.</p>
                        <br />
                        <div class="plate-bar">

                        </div>
                    </div>
                </div>
                <div class="plate plate4">
                    <div class="partners-imageholder">
                        <img src='../gfx/interface/thumbsup.png' alt="Партнер" style="width:300px; height:200px;">
                    </div>
                    <div class="plate-desc">
                        <p class="plate-short">Используй бонусы в качестве скидки. <br/>1 бонус = 1 рубль</p>
                        <br />
                        <div class="plate-bar">

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <h1 style="padding-top: 20px; color:#666666; text-align:center;">Вопросы и ответы</h1>
            @Html.Partial("Faq")
        </section>
        <section class="content content-narrow">
            <h1 style="text-align:center">Написать нам</h1>
            <form action="#" method="post">
                @if (UserSession.user_id <= 0)
                {
                    <input type="text" name="name" id="feedback-name" placeholder="Ф.И.О." />
                    <input type="text" name="email" id="feedback-email" placeholder="E-mail" />
                }
                <select name="subject" placeholder="Тема письма" id="feedback-subject">
                    <option value="Не начислены/не списаны звезды">Не начислены/не списаны Бонусы</option>
                    <option value="Благодарность/отзыв">Благодарность/отзыв</option>
                    <option value="Претензия">Претензия</option>
                    <option value="Вопрос">Вопрос</option>
                    <option value="Стать Партнером">Стать Партнером</option>
                </select>
                <textarea name="message" placeholder="Текст сообщения" id="feedback-message"></textarea>
                @if (UserSession.user_id <= 0)
                {
                    <div class="form-captcha">
                        <div>
                            <img src="/Capcha.aspx?r=@(new Random().Next().ToString())" id="capcha-img" style="cursor:pointer" />
                        </div>
                        <div>
                            <input type="text" name="captcha" placeholder="Введите код с картинки" id="feedback-capcha" />
                        </div>
                    </div>
                    <button type="submit" class="btn" id="feedback-send-btn-u">Отправить</button>
                }
                else
                {
                    <button type="submit" class="btn" id="feedback-send-btn">Отправить</button>
                }
            </form>
        </section>
    </main>
</div>
