<!--Become Partner-->
<div class="modal fade" id="becomePartner-modal" tabindex="-1" role="dialog" aria-labelledby="becomePartner-modal-header">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 id="register-modal-header" class="modal-title">Стать партнёром</h1>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-item">
                        <input type="text" placeholder="Город" name="city" id="register-city">
                    </div>
                    <div class="form-item">
                        <input type="text" placeholder="Сайт" name="site" id="register-site">
                    </div>
                    <div class="form-item">
                        <input type="text" placeholder="Что продайте" name="sellgoods" id="register-sellgoods">
                    </div>
                    <div class="form-item">
                        <input type="text" placeholder="Количество торговых точек" name="posqty" id="register-posqty">
                    </div>
                    <div class="form-item">
                        <input type="text" placeholder="Наименование кассового ПО" name="cashsoftware" id="register-cashsoftware">
                    </div>
                    <div class="form-item">
                        <input type="text" placeholder="Имя" name="name" id="register-name">
                    </div>
                    <div class="form-item">
                        <input type="text" class="masked-phone required" placeholder="Номер мобильного телефона *" name="phone" id="register-phone" required>
                    </div>
                    <div class="form-item">
                        <input type="email" class="masked-email required" placeholder="Адрес электронной почты *" name="email" id="register-emailpartner" required>
                    </div>                    
                    <div class="form-item">
                        <p class="form-p-required">* Поля, обязательные для ввода</p>
                    </div>
                    
                    <div class="form-center-item">
                        <button type="submit" id="send-offer" class="btn">Отправить заявку</button>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>
