	<!-- Remember -->
<div class="modal fade" id="remember-modal" tabindex="-1" role="dialog" aria-labelledby="remember-modal-header">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h1 id="remember-modal-header" class="modal-title">Вспомнить пароль</h1>
            </div>
            <div class="modal-body">
                <form id="remember-step1">
                    <div class="form-item">
                        <label for="remember-modal-input-phone">Номер мобильного телефона</label>
                        <input type="text" id="remember-modal-input-phone" name="phone" class="masked-phone">
                    </div>
                    <div style="display:block;position:absolute;display:none">
                                        <div class="form-center-item">или</div>
                    <div class="form-item">
                        <label for="remember-modal-input-email">Адрес электронной почты</label>
                        <input type="email" id="remember-modal-input-email" name="email" class="masked-email">
                    </div>
                    </div>
                    <div class="form-center-item">
                        <button type="submit" name="ok" class="btn">ОК</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Remember code (2) -->
<div class="modal fade" id="remembercode-modal" tabindex="-1" role="dialog" aria-labelledby="remembercode-modal-header">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h1 id="remembercode-modal-header" class="modal-title">Проверочный код</h1>
            </div>
            <div class="modal-body">
                <form id="remember-step2">
                    <div class="form-item">
                        <label for="remembercode-modal-input-code">Введите полученный SMS код</label>
                        <input type="text" id="remembercode-modal-input-code" name="code">
                    </div>
                    <div class="form-center-item">
                        <button type="submit" name="ok" class="btn">ОК</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Remember new pass (3) -->
<div class="modal fade" id="remembernew-modal" tabindex="-1" role="dialog" aria-labelledby="remembernew-modal-header">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h1 id="remembernew-modal-header" class="modal-title">Новый пароль</h1>
            </div>
            <div class="modal-body">
                <form id="remember-step3">
                    <div class="form-item">
                        <label for="remembernew-modal-input-pass">Введите пароль</label>
                        <input type="password" id="remembernew-modal-input-pass" name="password">
                    </div>
                    <div class="form-item">
                        <label for="remembernew-modal-input-pass2">Повторите пароль</label>
                        <input type="password" id="remembernew-modal-input-pass2" name="password2">
                    </div>
                    <div class="form-center-item">
                        <button type="submit" name="ok" class="btn">ОК</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

