<section class="content table-min-width">
    <header class="content__header">
        <a href="" class="btn-hide-aside"></a>
        <ul class="content__header-nav">
            <li><a href="@Url.Action("Terminal", "Home")"><img src="../img/icon-top-menu/surprise.png" alt="surprise"><span>Терминал</span></a></li>
            <li><a href=""><img src="~/img/icon-top-menu/message.png" alt="message"><span>Рассылка</span></a></li>
            <li><a href=""><img src="~/img/icon-top-menu/action.png" alt="action"><span>Акция</span></a></li>
            <li><a href=""><img src="~/img/icon-top-menu/help.png" alt="help"><span>Помощь</span></a></li>
        </ul>
        <a href="" class="content__header-logout">
            <i></i>
            <span>Выйти</span>
        </a>
        <div class="content__search">
            <div class="content__search__left">
                <form action="" class="search-form">
                    <button class="search-form__submit"></button>
                    <input type="text" class="search-form__input" placeholder="Поиск клиента по номеру телефона">
                    <button class="search-form__cancel"></button>
                </form>
            </div>
            <div class="content__search__right">
                <form action="" class="search-form">
                    <button class="search-form__submit"></button>
                    <input type="text" class="search-form__input" placeholder="Поиск покупки по номеру чека">
                    <button class="search-form__cancel"></button>
                </form>
            </div>
        </div>
        <div class="table__menu__top">
            <div class="table__date_menu">
                <p>Показать продажи с </p>
                <input type="text" name="date-item" class="datepicker" id="date2">
                <p> по </p>
                <input type="text" name="date-item" class="datepicker" id="date3">
            </div>
            <div class="table__clear_meu">
                <p class="clear-date">Сбросить даты</p>
                <p>Сбросить все фильтры</p>
            </div>
            <div class="table__view_meu">
                <p>Показать</p>
                <div class="select">
                    <select>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <p>чеков</p>
            </div>
        </div>
    </header>
    <div class="table__content">
        <div class="table__content__top">
            <div class="table__top__text">
                <div class="table__top__text__datetime">
                    <p>Дата покупки</p>
                </div>
                <div class="table__top__text__adress">
                    <p>Точка продаж</p>
                </div>
                <div class="table__top__text__client">
                    <p>Клиент</p>
                </div>
                <div class="table__top__text__operacion">
                    <p>Операция</p>
                </div>
                <div class="table__top__text__chek">
                    <p>№ чека</p>
                </div>
                <div class="table__top__text__sume">
                    <p>Сумма покупки</p>
                </div>
                <div class="table__top__text__achisleno">
                    <p>Начислено</p>
                </div>
                <div class="table__top__text__spisano">
                    <p>Списано</p>
                </div>
            </div>
            <div class="table__top__select">
                <div class="table__top__datetime">
                    <input type="text" name="date-item" class="datepicker" id="date1">
                </div>
                <div class="table__top__adress">
                    <input type="text" name="adres-item">
                </div>
                <div class="table__top__client">
                    <input type="text" name="client-item">
                </div>
                <div class="table__top__operacion">
                    <select name="" id="" class="select">
                        <option class="">Выбрать</option>
                        <option class="">Покупка</option>
                        <option class="">Возврат</option>
                    </select>
                </div>
                <div class="table__top__chek">
                    <input type="text" name="chek-item">
                </div>
                <div class="table__top__sume">
                    <select name="" id="" class="select">
                        <option class="">Выбрать</option>
                        <option>1 000 - 5 000p.</option>
                        <option>5 000 - 10 000p.</option>
                        <option>10 000 - 99 000p.</option>
                    </select>
                </div>
                <div class="table__top__achisleno">
                    <select name="" id="" class="select">
                        <option class="">Выбрать</option>
                        <option>100 - 500</option>
                        <option>500 - 1000</option>
                        <option>1000 - 9000</option>
                    </select>
                </div>
                <div class="table__top__spisano">
                    <select name="" id="" class="select">
                        <option class="">Выбрать</option>
                        <option>100 - 500</option>
                        <option>500 - 1000</option>
                        <option>1000 - 9000</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="openstSales">
            <div class="table__content__item" id="open-item">
                <div class="table__item__open"><img src="../img/tableiconopen.png"></div>
                <div class="table__item__datetime"><p>05.02.2015</p><p>17:30</p></div>
                <div class="table__item__adress"><p>Магазин в Красноармейском</p></div>
                <div class="table__item__client"><a href="79032454325">79032454325</a></div>
                <div class="table__item__operacion"><p>Покупка</p></div>
                <div class="table__item__chek"><p>560256</p></div>
                <div class="table__item__sume"><p>3 200 р.00</p></div>
                <div class="table__item__achisleno"><p>100.0</p></div>
                <div class="table__item__spisano"><p>0</p></div>
            </div>
            <div class="table__content__info">
                <div class="table__item__info">
                    <div class="table__info__datetime"></div>
                    <div class="table__info__adress"><p></p></div>
                    <div class="table__info__client"></div>
                    <div class="table__info__operacion"></div>
                    <div class="table__info__chek"><p></p></div>
                    <div class="table__info__sume"><p></p></div>
                    <div class="table__info__achisleno"><p></p></div>
                    <div class="table__info__spisano"><p></p></div>
                </div>
            </div>
            <div class="table__content__item" id="open-item">
                <div class="table__item__open"><img src="../img/tableiconopen.png"></div>
                <div class="table__item__datetime"><p>04.02.2015</p><p>17:30</p></div>
                <div class="table__item__adress"><p>Магазин в Красноармейском</p></div>
                <div class="table__item__client"><a href="79168273546">79168273546</a></div>
                <div class="table__item__operacion"><p>Возврат</p></div>
                <div class="table__item__chek"><p>122564</p></div>
                <div class="table__item__sume"><p>524 р.75</p></div>
                <div class="table__item__achisleno"><p>100.0</p></div>
                <div class="table__item__spisano"><p>0</p></div>
            </div>
            <div class="table__content__info">
                <div class="table__item__info">
                    <div class="table__info__datetime"></div>
                    <div class="table__info__adress"><p>1. Колбаса "Деловая"</p></div>
                    <div class="table__info__client"></div>
                    <div class="table__info__operacion"></div>
                    <div class="table__info__chek"><p>x1</p></div>
                    <div class="table__info__sume"><p>350р.00коп.</p></div>
                    <div class="table__info__achisleno"><p>13,0</p></div>
                    <div class="table__info__spisano"><p>35</p></div>
                </div>
                <div class="table__item__info">
                    <div class="table__info__datetime"></div>
                    <div class="table__info__adress"><p>2. Сыр "Пророссийский"</p></div>
                    <div class="table__info__client"></div>
                    <div class="table__info__operacion"></div>
                    <div class="table__info__chek"><p>x2</p></div>
                    <div class="table__info__sume"><p>200р.00коп.</p></div>
                    <div class="table__info__achisleno"><p>13,0</p></div>
                    <div class="table__info__spisano"><p>35</p></div>
                </div>
                <div class="table__item__info">
                    <div class="table__info__datetime"></div>
                    <div class="table__info__adress"><p>3. Пельмени "Неваляшки" 1кг.</p></div>
                    <div class="table__info__client"></div>
                    <div class="table__info__operacion"></div>
                    <div class="table__info__chek"><p>x1</p></div>
                    <div class="table__info__sume"><p>450р.00коп.</p></div>
                    <div class="table__info__achisleno"><p>13,0</p></div>
                    <div class="table__info__spisano"><p>35</p></div>
                </div>
                <div class="table__item__info">
                    <div class="table__info__datetime"></div>
                    <div class="table__info__adress"><p>4. Сок "Свежевыжатый" 5л.</p></div>
                    <div class="table__info__client"></div>
                    <div class="table__info__operacion"></div>
                    <div class="table__info__chek"><p>x3</p></div>
                    <div class="table__info__sume"><p>156р.00коп.</p></div>
                    <div class="table__info__achisleno"><p>13,0</p></div>
                    <div class="table__info__spisano"><p>35</p></div>
                </div>
                <div class="table__item__info">
                    <div class="table__info__datetime"></div>
                    <div class="table__info__adress"><p>5. Кофе "Обама" 300г.</p></div>
                    <div class="table__info__client"></div>
                    <div class="table__info__operacion"></div>
                    <div class="table__info__chek"><p>x2</p></div>
                    <div class="table__info__sume"><p>120р.00коп.</p></div>
                    <div class="table__info__achisleno"><p>13,0</p></div>
                    <div class="table__info__spisano"><p>35</p></div>
                </div>
                <div class="table__item__info">
                    <div class="table__info__datetime"></div>
                    <div class="table__info__adress"><p>6. Сливки "Армейские" 100г.</p></div>
                    <div class="table__info__client"></div>
                    <div class="table__info__operacion"></div>
                    <div class="table__info__chek"><p>x1</p></div>
                    <div class="table__info__sume"><p>60р.00коп.</p></div>
                    <div class="table__info__achisleno"><p>13,0</p></div>
                    <div class="table__info__spisano"><p>35</p></div>
                </div>
            </div>
            <div class="table__content__item" id="open-item">
                <div class="table__item__open"><img src="../img/tableiconopen.png"></div>
                <div class="table__item__datetime"><p>04.02.2015</p><p>17:30</p></div>
                <div class="table__item__adress"><p>Супермаркет по Гагарина</p></div>
                <div class="table__item__client"><a href="79163746593">79163746593</a></div>
                <div class="table__item__operacion"><p>Покупка</p></div>
                <div class="table__item__chek"><p>452156</p></div>
                <div class="table__item__sume"><p>1336 р.00</p></div>
                <div class="table__item__achisleno"><p>100.0</p></div>
                <div class="table__item__spisano"><p>0</p></div>
            </div>
            <div class="table__content__info">
                <div class="table__item__info">
                    <div class="table__info__datetime"></div>
                    <div class="table__info__adress"><p></p></div>
                    <div class="table__info__client"></div>
                    <div class="table__info__operacion"></div>
                    <div class="table__info__chek"><p></p></div>
                    <div class="table__info__sume"><p></p></div>
                    <div class="table__info__achisleno"><p></p></div>
                    <div class="table__info__spisano"><p></p></div>
                </div>
            </div>
            <div class="table__content__item" id="open-item">
                <div class="table__item__open"><img src="../img/tableiconopen.png"></div>
                <div class="table__item__datetime"><p>03.02.2015</p><p>17:30</p></div>
                <div class="table__item__adress"><p>Ларек Центральный</p></div>
                <div class="table__item__client"><a href="79163746593">79163746593</a></div>
                <div class="table__item__operacion"><p>Покупка</p></div>
                <div class="table__item__chek"><p>121234</p></div>
                <div class="table__item__sume"><p>140 р.00</p></div>
                <div class="table__item__achisleno"><p>100.0</p></div>
                <div class="table__item__spisano"><p>0</p></div>
            </div>
            <div class="table__content__info">
                <div class="table__item__info">
                    <div class="table__info__datetime"></div>
                    <div class="table__info__adress"><p></p></div>
                    <div class="table__info__client"></div>
                    <div class="table__info__operacion"></div>
                    <div class="table__info__chek"><p></p></div>
                    <div class="table__info__sume"><p></p></div>
                    <div class="table__info__achisleno"><p></p></div>
                    <div class="table__info__spisano"><p></p></div>
                </div>
            </div>
            <div class="table__content__item" id="open-item">
                <div class="table__item__open"><img src="../img/tableiconopen.png"></div>
                <div class="table__item__datetime"><p>03.02.2015</p><p>17:30</p></div>
                <div class="table__item__adress"><p>Магазин в Красноармейском</p></div>
                <div class="table__item__client"><a href="72637364536">72637364536</a></div>
                <div class="table__item__operacion"><p>Возврат</p></div>
                <div class="table__item__chek"><p>560256</p></div>
                <div class="table__item__sume"><p>5 200 р.00</p></div>
                <div class="table__item__achisleno"><p>200.0</p></div>
                <div class="table__item__spisano"><p>0</p></div>
            </div>
            <div class="table__content__info">
                <div class="table__item__info">
                    <div class="table__info__datetime"></div>
                    <div class="table__info__adress"><p></p></div>
                    <div class="table__info__client"></div>
                    <div class="table__info__operacion"></div>
                    <div class="table__info__chek"><p></p></div>
                    <div class="table__info__sume"><p></p></div>
                    <div class="table__info__achisleno"><p></p></div>
                    <div class="table__info__spisano"><p></p></div>
                </div>
            </div>
            <div class="table__content__item" id="open-item">
                <div class="table__item__open"><img src="../img/tableiconopen.png"></div>
                <div class="table__item__datetime"><p>03.02.2015</p><p>17:30</p></div>
                <div class="table__item__adress"><p>Магазин в Красноармейском</p></div>
                <div class="table__item__client"><a href="79163746593">79163746593</a></div>
                <div class="table__item__operacion"><p>Покупка</p></div>
                <div class="table__item__chek"><p>560256</p></div>
                <div class="table__item__sume"><p>1 250 р.00</p></div>
                <div class="table__item__achisleno"><p>100.0</p></div>
                <div class="table__item__spisano"><p>0</p></div>
            </div>
            <div class="table__content__info">
                <div class="table__item__info">
                    <div class="table__info__datetime"></div>
                    <div class="table__info__adress"><p></p></div>
                    <div class="table__info__client"></div>
                    <div class="table__info__operacion"></div>
                    <div class="table__info__chek"><p></p></div>
                    <div class="table__info__sume"><p></p></div>
                    <div class="table__info__achisleno"><p></p></div>
                    <div class="table__info__spisano"><p></p></div>
                </div>
            </div>
            <div class="table__content__item" id="open-item">
                <div class="table__item__open"><img src="../img/tableiconopen.png"></div>
                <div class="table__item__datetime"><p>03.02.2015</p><p>17:30</p></div>
                <div class="table__item__adress"><p>Магазин в Красноармейском</p></div>
                <div class="table__item__client"><a href="79163746593">79163746593</a></div>
                <div class="table__item__operacion"><p>Покупка</p></div>
                <div class="table__item__chek"><p>560256</p></div>
                <div class="table__item__sume"><p>2 300 р. 00</p></div>
                <div class="table__item__achisleno"><p>200.0</p></div>
                <div class="table__item__spisano"><p>0</p></div>
            </div>
            <div class="table__content__info">
                <div class="table__item__info">
                    <div class="table__info__datetime"></div>
                    <div class="table__info__adress"><p></p></div>
                    <div class="table__info__client"></div>
                    <div class="table__info__operacion"></div>
                    <div class="table__info__chek"><p></p></div>
                    <div class="table__info__sume"><p></p></div>
                    <div class="table__info__achisleno"><p></p></div>
                    <div class="table__info__spisano"><p></p></div>
                </div>
            </div>
            <div class="table__content__item" id="open-item">
                <div class="table__item__open"><img src="../img/tableiconopen.png"></div>
                <div class="table__item__datetime"><p>03.02.2015</p><p>17:30</p></div>
                <div class="table__item__adress"><p>Магазин в Красноармейском</p></div>
                <div class="table__item__client"><a href="79163746593">79163746593</a></div>
                <div class="table__item__operacion"><p>Возврат</p></div>
                <div class="table__item__chek"><p>560256</p></div>
                <div class="table__item__sume"><p>700 р.00</p></div>
                <div class="table__item__achisleno"><p>100.0</p></div>
                <div class="table__item__spisano"><p>0</p></div>
            </div>
            <div class="table__content__info">
                <div class="table__item__info">
                    <div class="table__info__datetime"></div>
                    <div class="table__info__adress"><p></p></div>
                    <div class="table__info__client"></div>
                    <div class="table__info__operacion"></div>
                    <div class="table__info__chek"><p></p></div>
                    <div class="table__info__sume"><p></p></div>
                    <div class="table__info__achisleno"><p></p></div>
                    <div class="table__info__spisano"><p></p></div>
                </div>
            </div>
            <div class="table__content__item" id="open-item">
                <div class="table__item__open"><img src="../img/tableiconopen.png"></div>
                <div class="table__item__datetime"><p>04.02.2015</p><p>17:30</p></div>
                <div class="table__item__adress"><p>Магазин в Красноармейском</p></div>
                <div class="table__item__client"><a href="79629837465">79629837465</a></div>
                <div class="table__item__operacion"><p>Покупка</p></div>
                <div class="table__item__chek"><p>560256</p></div>
                <div class="table__item__sume"><p>3 400 р. 00</p></div>
                <div class="table__item__achisleno"><p>200.0</p></div>
                <div class="table__item__spisano"><p>0</p></div>
            </div>
            <div class="table__content__info">
                <div class="table__item__info">
                    <div class="table__info__datetime"></div>
                    <div class="table__info__adress"><p></p></div>
                    <div class="table__info__client"></div>
                    <div class="table__info__operacion"></div>
                    <div class="table__info__chek"><p></p></div>
                    <div class="table__info__sume"><p></p></div>
                    <div class="table__info__achisleno"><p></p></div>
                    <div class="table__info__spisano"><p></p></div>
                </div>
            </div>
            <div class="table__content__item" id="open-item">
                <div class="table__item__open"><img src="../img/tableiconopen.png"></div>
                <div class="table__item__datetime"><p>05.02.2015</p><p>17:30</p></div>
                <div class="table__item__adress"><p>Магазин в Красноармейском</p></div>
                <div class="table__item__client"><a href="79629837465">79629837465</a></div>
                <div class="table__item__operacion"><p>Покупка</p></div>
                <div class="table__item__chek"><p>560256</p></div>
                <div class="table__item__sume"><p>540 р. 00</p></div>
                <div class="table__item__achisleno"><p>100,0</p></div>
                <div class="table__item__spisano"><p>0</p></div>
            </div>
            <div class="table__content__info">
                <div class="table__item__info">
                    <div class="table__info__datetime"></div>
                    <div class="table__info__adress"><p></p></div>
                    <div class="table__info__client"></div>
                    <div class="table__info__operacion"></div>
                    <div class="table__info__chek"><p></p></div>
                    <div class="table__info__sume"><p></p></div>
                    <div class="table__info__achisleno"><p></p></div>
                    <div class="table__info__spisano"><p></p></div>
                </div>
            </div>
        </div>
        <div class="page-navigation">
            <div class="table__download_meu">
                <p>Выгрузить: </p>
                <a href="">PDF</a>
                <a href="">XLSX</a>
            </div>
            <div class="page-navigation-block">
                <a href="Предыдущая">Предыдущая</a>
                <a class="numbr" href="1">1</a>
                <a class="numbr activetnm" href="2">2</a>
                <a class="numbr" href="3">3</a>
                <p>...</p>
                <a class="numbr" href="12">12</a>
                <a class="numbr" href="13">13</a>
                <a class="numbr" href="14">14</a>
                <a href="Следующая">Следующая</a>
            </div>
        </div>
    </div>
</section>

