<section class="content">
    <header class="content__header">
        <a href="" class="btn-hide-aside"></a>
        <ul class="content__header-nav">
            <li><a href="@Url.Action("Terminal", "Home")"><img src="../img/icon-top-menu/surprise.png" alt="surprise"><span>Терминал</span></a></li>
            <li><a href=""><img src="../img/icon-top-menu/message.png" alt="message"><span>Рассылка</span></a></li>
            <li><a href=""><img src="../img/icon-top-menu/action.png" alt="action"><span>Акция</span></a></li>
            <li><a href=""><img src="../img/icon-top-menu/help.png" alt="help"><span>Помощь</span></a></li>
        </ul>
        <a href="" class="content__header-logout">
            <i></i>
            <span>Выйти</span>
        </a>
        <div class="content__search">
            <div class="content__search__left">
                <form action="" class="search-form ">
                    <button class="search-form__submit"></button>
                    <input type="text" class="search-form__input" placeholder="Поиск клиента по номеру телефона">
                    <button class="search-form__cancel"></button>
                </form>
            </div>
            <div class="content__search__right">
                <form action="" class="search-form">
                    <button class="search-form__submit"></button>
                    <input type="text" class="search-form__input" placeholder="Поиск покупки по номеру чека">
                    <button class="search-form__cancel"></button>
                </form>
            </div>
        </div>
        <div class="tabs__links-head">
            <div class="terminal-head">
                <div class="terminal-head__left">
                    <a href="" id="HandBonusAdd" class="terminal-head-link">
                        <img src="../img/plus.png" alt="" class="terminal-head-link__img">
                        <span class="terminal-head-link__text">Начислить бонусы</span>
                    </a>
                    <a href="" id="HandBonusRedeem" class="terminal-head-link">
                        <img src="../img/minus.png" alt="" class="terminal-head-link__img">
                        <span class="terminal-head-link__text">Списать бонусы</span>
                    </a>
                </div>
                <div class="terminal-head__right">
                    <span class="terminal-head__text">Всего клиентов:</span>
                    <span class="terminal-head__count-text">1 500 000</span>
                </div>

            </div>
        </div>
    </header>
    <div class="content__tabs-bl" id="tabs">
        <div class="forms-terminal">
            <div class="forms-terminal__col forms-terminal__col_70">
                <div class="form-terminal">
                    <h4 class="form-terminal__heading">покупка</h4>
                    <form id="TerminalAddBuy">
                        <div class="form-terminal__group">
                            <span class="form-terminal__ico">
                                <a href="" class="quest-circle-link "><span class="quest-circle quest-circle">?</span><span class="quest-circle-info quest-circle-info_static">Выручка - это... сегментация рынка, отбрасывая подробности, нейтрализует комплексный план размещения. Наряду с этим, коммуникация последовательно отталкивает </span></a>
                            </span>
                            <div class="form-terminal__input-bl ">
                                <input type="text" class="form-terminal__input" id="clientIdPurchaseTerminal" placeholder="Введите идентификатор клиента">
                                <button class="form-terminal__search-btn" id="searchClientPurchaseTerminal"></button>
                            </div>
                            <a href="" class="form-terminal__refresh">
                                <img src="../img/refresh.png" alt="">
                            </a>
                        </div>
                        <div class="form-terminal__group">
                            <span class="form-terminal__ico">
                                <a href="" class="quest-circle-link "><span class="quest-circle quest-circle">?</span><span class="quest-circle-info quest-circle-info_static">Выручка - это... сегментация рынка, отбрасывая подробности, нейтрализует комплексный план размещения. Наряду с этим, коммуникация последовательно отталкивает </span></a>
                            </span>
                            <div class="form-terminal__input-bl form-terminal__input-bl_margin-right">
                                <input type="text" class="form-terminal__input" id="TerminalBuySum" placeholder="Введите сумму покупки">
                            </div>
                        </div>
                        <div class="form-terminal__group">
                            <span class="form-terminal__ico">
                                <a href="" class="quest-circle-link "><span class="quest-circle quest-circle">?</span><span class="quest-circle-info quest-circle-info_static">Выручка - это... сегментация рынка, отбрасывая подробности, нейтрализует комплексный план размещения. Наряду с этим, коммуникация последовательно отталкивает </span></a>
                            </span>
                            <a href="" class="form-terminal__link" id="TerminalRedeemInBuy">Узнать, сколько можно списать:</a>
                            <div class="form-terminal__input-bl form-terminal__input-bl_small form-terminal__input-bl_margin-right">
                                <input type="text" class="form-terminal__input" id="TerminalMaxSumRedeem" readonly>
                            </div>
                        </div>
                        <div class="form-terminal__group">
                            <span class="form-terminal__ico">
                                <a href="" class="quest-circle-link "><span class="quest-circle quest-circle">?</span><span class="quest-circle-info quest-circle-info_static">Выручка - это... сегментация рынка, отбрасывая подробности, нейтрализует комплексный план размещения. Наряду с этим, коммуникация последовательно отталкивает </span></a>
                            </span>
                            <span class="form-terminal__text">Укажите, сколько нужно списать:</span>
                            <div class="form-terminal__input-bl form-terminal__input-bl_small form-terminal__input-bl_margin-right">
                                <input type="text" class="form-terminal__input" id="TerminalRedeem">
                            </div>
                        </div>
                        <input type="submit" class="form-terminal__submit" value="Провести покупку">
                    </form>
                </div>
                <div class="form-terminal">
                    <h4 class="form-terminal__heading">возврат</h4>
                    <form id="TerminalRefund">
                        <div class="form-terminal__group">
                            <span class="form-terminal__ico">
                                <a href="" class="quest-circle-link "><span class="quest-circle quest-circle">?</span><span class="quest-circle-info quest-circle-info_static">Выручка - это... сегментация рынка, отбрасывая подробности, нейтрализует комплексный план размещения. Наряду с этим, коммуникация последовательно отталкивает </span></a>
                            </span>
                            <div class="form-terminal__input-bl ">
                                <input type="text" class="form-terminal__input" id="clientIdRefundTerminal" placeholder="Введите идентификатор клиента">
                                <button class="form-terminal__search-btn" id="searchClientRefundTerminal"></button>
                            </div>
                            <a href="" class="form-terminal__refresh">
                                <img src="../img/refresh.png" alt="">
                            </a>
                        </div>
                        <div class="form-terminal__group">
                            <span class="form-terminal__ico">
                                <a href="" class="quest-circle-link "><span class="quest-circle quest-circle">?</span><span class="quest-circle-info quest-circle-info_static">Выручка - это... сегментация рынка, отбрасывая подробности, нейтрализует комплексный план размещения. Наряду с этим, коммуникация последовательно отталкивает </span></a>
                            </span>
                            <div class="form-terminal__input-bl form-terminal__input-bl_margin-right">
                                <input type="text" class="form-terminal__input" id="TerminalRefundChequeSum" placeholder="Введите сумму возврата">
                            </div>
                        </div>
                        <div class="form-terminal__group">
                            <span class="form-terminal__ico">
                                <a href="" class="quest-circle-link "><span class="quest-circle quest-circle">?</span><span class="quest-circle-info quest-circle-info_static">Выручка - это... сегментация рынка, отбрасывая подробности, нейтрализует комплексный план размещения. Наряду с этим, коммуникация последовательно отталкивает </span></a>
                            </span>
                            <div class="form-terminal__input-bl form-terminal__input-bl_margin-right">
                                <input type="text" class="form-terminal__input" id="TerminalRefundChequeNum" placeholder="Номер чека покупки">
                            </div>
                        </div>
                        <div class="form-terminal__group">
                            <span class="form-terminal__ico">
                                <a href="" class="quest-circle-link "><span class="quest-circle quest-circle">?</span><span class="quest-circle-info quest-circle-info_static">Выручка - это... сегментация рынка, отбрасывая подробности, нейтрализует комплексный план размещения. Наряду с этим, коммуникация последовательно отталкивает </span></a>
                            </span>
                            <span class="form-terminal__text">Дата чека покупки:</span>
                            <div class="form-terminal__input-bl form-terminal__input-bl_mid form-terminal__input-bl_margin-right">
                                <input type="text" class="form-terminal__input datepicker" id="TerminalRefundDate">
                            </div>
                        </div>
                        <input type="submit" class="form-terminal__submit" value="Провести возврат">
                    </form>
                </div>
                <div class="form-terminal form-terminal_100">
                    <div class="table__content">
                        <div class="table__content__top">
                            <div class="table__top__text">
                                <div class="table__top__text__datetime">
                                    <p>Дата операции</p>
                                </div>
                                <div class="table__top__text__operacion">
                                    <p>Операция</p>
                                </div>
                                <div class="table__top__text__chek">
                                    <p>№ чека</p>
                                </div>
                                <div class="table__top__text__sume">
                                    <p>Сумма покупки</p>
                                </div>
                                <div class="table__top__text__achisleno">
                                    <p>Начислено</p>
                                </div>
                                <div class="table__top__text__spisano">
                                    <p>Списано</p>
                                </div>
                            </div>
                            <div class="table__top__select">
                                <div class="table__top__datetime">
                                    <input type="text" name="date-item" class="datepicker" id="date1">
                                </div>
                                <div class="table__top__operacion">
                                    <select name="" id="" class="select">
                                        <option class="">Выбрать</option>
                                        <option class="">Покупка</option>
                                        <option class="">Возврат</option>
                                    </select>
                                </div>
                                <div class="table__top__chek">
                                    <input type="text" name="chek-item">
                                </div>
                                <div class="table__top__sume">
                                    <select name="" id="" class="select">
                                        <option class="">Выбрать</option>
                                        <option>1 000 - 5 000p.</option>
                                        <option>5 000 - 10 000p.</option>
                                        <option>10 000 - 99 000p.</option>
                                    </select>
                                </div>
                                <div class="table__top__achisleno">
                                    <select name="" id="" class="select">
                                        <option class="">Выбрать</option>
                                        <option>100 - 500</option>
                                        <option>500 - 1000</option>
                                        <option>1000 - 9000</option>
                                    </select>
                                </div>
                                <div class="table__top__spisano">
                                    <select name="" id="" class="select">
                                        <option class="">Выбрать</option>
                                        <option>100 - 500</option>
                                        <option>500 - 1000</option>
                                        <option>1000 - 9000</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="openst">

                            <div class="table__content__item" id="open-item">
                                <div class="table__item__datetime"><p>04.02.2015</p><p>17:30</p></div>
                                <div class="table__item__operacion"><p>Возврат</p></div>
                                <div class="table__item__chek"><p>122564</p></div>
                                <div class="table__item__sume"><p>524 р.75</p></div>
                                <div class="table__item__achisleno"><p>100.0</p></div>
                                <div class="table__item__spisano"><p>0</p></div>
                            </div>

                            <div class="table__content__item" id="open-item">
                                <div class="table__item__datetime"><p>03.02.2015</p><p>17:30</p></div>
                                <div class="table__item__operacion"><p>Возврат</p></div>
                                <div class="table__item__chek"><p>560256</p></div>
                                <div class="table__item__sume"><p>5 200 р.00</p></div>
                                <div class="table__item__achisleno"><p>200.0</p></div>
                                <div class="table__item__spisano"><p>0</p></div>
                            </div>

                            <div class="table__content__item" id="open-item">
                                <div class="table__item__datetime"><p>03.02.2015</p><p>17:30</p></div>
                                <div class="table__item__operacion"><p>Покупка</p></div>
                                <div class="table__item__chek"><p>560256</p></div>
                                <div class="table__item__sume"><p>1 250 р.00</p></div>
                                <div class="table__item__achisleno"><p>100.0</p></div>
                                <div class="table__item__spisano"><p>0</p></div>
                            </div>

                            <div class="table__content__item" id="open-item">
                                <div class="table__item__datetime"><p>04.02.2015</p><p>17:30</p></div>
                                <div class="table__item__operacion"><p>Покупка</p></div>
                                <div class="table__item__chek"><p>560256</p></div>
                                <div class="table__item__sume"><p>3 400 р. 00</p></div>
                                <div class="table__item__achisleno"><p>200.0</p></div>
                                <div class="table__item__spisano"><p>0</p></div>
                            </div>

                            <div class="table__content__item" id="open-item">
                                <div class="table__item__datetime"><p>05.02.2015</p><p>17:30</p></div>
                                <div class="table__item__operacion"><p>Покупка</p></div>
                                <div class="table__item__chek"><p>560256</p></div>
                                <div class="table__item__sume"><p>540 р. 00</p></div>
                                <div class="table__item__achisleno"><p>100,0</p></div>
                                <div class="table__item__spisano"><p>0</p></div>
                            </div>

                        </div>
                        <div class="page-navigation-block">
                            <a href="Предыдущая">Предыдущая</a>
                            <a class="numbr" href="1">1</a>
                            <a class="numbr activetnm" href="2">2</a>
                            <a class="numbr" href="3">3</a>
                            <p>...</p>
                            <a class="numbr" href="12">12</a>
                            <a class="numbr" href="13">13</a>
                            <a class="numbr" href="14">14</a>
                            <a href="Следующая">Следующая</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="forms-terminal__col forms-terminal__col_30">
                <div class="form-terminal  form-terminal_p60">
                    <ul class="form-terminal__tabs-link">
                        <li class="prof"><a href="#prof" class="active"><span class="quest-circle-link "><span class="quest-circle quest-circle">?</span><span class="quest-circle-info quest-circle-info_static">Выручка - это... сегментация рынка, отбрасывая подробности, нейтрализует комплексный план размещения. Наряду с этим, коммуникация последовательно отталкивает </span></span><span class="fttext">профиль</span></a></li>
                        <li class="reg"><a href="#reg"><span class="quest-circle-link "><span class="quest-circle quest-circle">?</span><span class="quest-circle-info quest-circle-info_static">Выручка - это... сегментация рынка, отбрасывая подробности, нейтрализует комплексный план размещения. Наряду с этим, коммуникация последовательно отталкивает </span></span><span class="fttext">регистрация</span></a></li>
                    </ul>
                    <div class="form-terminal__tabs-content">
                        <div id="prof" class="active">
                            <div class="form-terminal__group">
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <input type="text" class="form-terminal__input" id="profileSurname" placeholder="Фамилия">
                                </div>
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <label for="" class="form-terminal__label">
                                        Фамилия
                                    </label>
                                </div>
                            </div>
                            <div class="form-terminal__group">
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <input type="text" class="form-terminal__input" id="profileName" placeholder="Имя">
                                </div>
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <label for="" class="form-terminal__label">
                                        Имя
                                    </label>
                                </div>
                            </div>
                            <div class="form-terminal__group">
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <input type="text" class="form-terminal__input" id="profilePatronymic" placeholder="Отчество">
                                </div>
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <label for="" class="form-terminal__label">
                                        Отчество
                                    </label>
                                </div>
                            </div>
                            <div class="form-terminal__group">
                                <div class="form-terminal__input-bl form-terminal__input-bl_half nice-select_white">
                                    @*<div class="form-terminal__input-bl form-terminal__input-bl_half-mr nice-select_white">
                                        <select name="Gender" id="" class="select  nice-select">
                                            <option class="">Пол</option>
                                            <option class="">Мужской</option>
                                            <option class="">Женский</option>
                                        </select>
                                    </div>*@
                                    <select name="profileGender" id="profileGender" class="select form-terminal__input">
                                        <option value="null" class="">Пол</option>
                                        <option value="1" class="">Мужской</option>
                                        <option value="0" class="">Женский</option>
                                    </select>
                                    @*<input type="text" class="form-terminal__input" placeholder="Пол">*@
                                </div>
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <label for="" class="form-terminal__label">
                                        Пол
                                    </label>
                                </div>
                            </div>
                            <div class="form-terminal__group">
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <input type="text" class="form-terminal__input datepicker" id="profileBirthDate" placeholder="Дата рождения">
                                </div>
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <label for="" class="form-terminal__label">
                                        Дата рождения
                                    </label>
                                </div>
                            </div>
                            <div class="form-terminal__group">
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <input type="text" class="form-terminal__input" id="profilePhone" placeholder="Телефон">
                                </div>
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <label for="" class="form-terminal__label">
                                        Телефон
                                    </label>
                                </div>
                            </div>
                            <div class="form-terminal__group">
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <input type="text" class="form-terminal__input" id="profileEmail" placeholder="Email">
                                </div>
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <label for="" class="form-terminal__label">
                                        Email
                                    </label>
                                </div>
                            </div>
                            <div class="form-terminal__group">
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <input type="text" class="form-terminal__input" id="profileCard" placeholder="Номер карты" readonly>
                                </div>
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <label for="" class="form-terminal__label">
                                        Номер карты
                                    </label>
                                </div>
                            </div>
                            <div class="form-terminal__group">
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <input type="text" class="form-terminal__input" id="profileBalance" placeholder="Баланс бонусов" readonly>
                                </div>
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <label for="" class="form-terminal__label">
                                        Баланс бонусов
                                    </label>
                                </div>
                            </div>
                            <div class="form-terminal__group">
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <input type="text" class="form-terminal__input" id="profileLevel" placeholder="Процент начисления" readonly>
                                </div>
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <label for="" class="form-terminal__label">
                                        Процент начисления
                                    </label>
                                </div>
                            </div>
                            <div class="form-terminal__group">
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <input type="text" class="form-terminal__input" placeholder="Сумма послед. покупки" readonly>
                                </div>
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <label for="" class="form-terminal__label">
                                        Сумма послед. покупки
                                    </label>
                                </div>
                            </div>
                            <div class="form-terminal__group">
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <input type="text" class="form-terminal__input" placeholder="Дата послед. покупки" readonly>
                                </div>
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <label for="" class="form-terminal__label">
                                        Дата послед. покупки
                                    </label>
                                </div>
                            </div>
                            <div class="form-terminal__group">
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <input type="text" class="form-terminal__input" placeholder="Уровень карты" readonly>
                                </div>
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <label for="" class="form-terminal__label">
                                        Уровень карты
                                    </label>
                                </div>
                            </div>
                            <div class="form-terminal__group">
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <input type="text" class="form-terminal__input" placeholder="Тип клиента">
                                </div>
                                <div class="form-terminal__input-bl form-terminal__input-bl_half">
                                    <label for="" class="form-terminal__label">
                                        Тип клиента
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div id="reg">
                            @*@using (Html.BeginForm("Terminal", "Home", FormMethod.Post))
                            {*@
                            <form id="TerminalRegisterNewUser">
                                <div class="form-terminal__group">
                                    <div class="form-terminal__input-bl ">
                                        <input type="text" class="form-terminal__input" name="Name" placeholder="Имя">
                                    </div>
                                </div>
                                <div class="form-terminal__group">
                                    <div class="form-terminal__input-bl ">
                                        <input type="text" class="form-terminal__input" name="Surname" placeholder="Фамилия">
                                    </div>
                                </div>
                                <div class="form-terminal__group form-terminal__group_mb">
                                    <div class="form-terminal__input-bl ">
                                        <input type="text" class="form-terminal__input" name="Patronymic" placeholder="Отчество">
                                    </div>
                                </div>

                                <div class="form-terminal__group">
                                    <div class="form-terminal__input-bl ">
                                        <input type="text" class="form-terminal__input" name="Card" placeholder="Номер карты">
                                    </div>
                                </div>
                                <div class="form-terminal__group">
                                    <div class="form-terminal__input-bl ">
                                        <input type="text" class="form-terminal__input" name="Phone" placeholder="Номер телефона" id="Phone">
                                    </div>
                                </div>
                                <div class="form-terminal__group form-terminal__group_mb">
                                    <div class="form-terminal__input-bl ">
                                        <input type="text" class="form-terminal__input" name="Email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-terminal__group form-terminal__group_date form-terminal__group_mb">
                                    <div class="form-terminal__input-bl form-terminal__input-bl_half-mr nice-select_white">
                                        <select name="Gender" id="" class="select  nice-select">
                                            <option class="">Пол</option>
                                            <option class="">Мужской</option>
                                            <option class="">Женский</option>
                                        </select>
                                    </div>
                                    <div class="form-terminal__input-bl">
                                        <input type="text" class="datepicker" name="BirthDate" id="TeminalBirthDate" placeholder="Дата рождения">
                                    </div>
                                </div>
                                <div class="form-terminal__group">
                                    <div class="form-terminal__action ">
                                        Акция “Приведи друга”
                                    </div>
                                </div>
                                <div class="form-terminal__group form-terminal__group_mb">
                                    <div class="form-terminal__input-bl ">
                                        <input type="text" class="form-terminal__input" name="FriendPhone" placeholder="Введите телефон друга" id="FriendPhone">
                                    </div>
                                </div>
                                <div class="form-terminal__group form-terminal__group_mb">
                                    <div class="form-terminal__input-bl form-terminal__input-bl_55-perc">
                                        <a href="#" class="send-sms" id="sendRegisterCode">Отправить SMS-код</a>
                                    </div>
                                    <div class="form-terminal__input-bl form-terminal__input-bl_45-perc">
                                        <input type="text" class="form-terminal__input" name="Code" placeholder="Введите SMS-код">
                                    </div>
                                </div>
                                <div class="form-terminal__group form-terminal__group_mb">
                                    <input type="submit" class="form-terminal__submit form-terminal__submit_no-marg" value="Завершить регистрацию">
                                </div>
                            </form>
                            @*}*@
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>
    ﻿
</section>