@*<h1>Акции</h1>*@
<br/>
@Html.Partial("_leftcolumnActions_rec",API.GetRandomCampaigns(2))
<div class="button-bar">
    <a href="/Actions"><button type="button" class="btn btn-lg">Все акции</button></a>
</div>
<!--
<section class="aside-apps">
    <h1>ПОЖАЛУЙСТА</h1>
    <p>Мобильное приложение</p>
    <a href="#"><img src="/gfx/interface/app-appstore.png" /></a><br />
    <a href="#"><img src="/gfx/interface/app-googleplay.png" /></a>
</section>
    -->