@foreach (var item in Model)
{
<div class="twocolumns-first-full">
    <div>
        <p class="form-label">@item.CategoryName</p>
    </div>
    <div>
        <div class='form-switch @((item.SwitchOn)?"form-switch-checked":"") personal-category-switch' data='@item.CategoryId'>
            <div>
                <a href="#" class="switch-check">да</a>
            </div>
            <div>
                <a href="#" class="switch-uncheck">нет</a>
            </div>
        </div>
    </div>
</div>
}