@for (var i = 0; i < 10; i++)
{
<div class="plate plate3">
    <div class="plate-imageholder">
        <a href="#"><img class="actions-head-img" src="/gfx/fish/action-1.jpg" alt="Акция"></a>
    </div>

    <div class="plate-desc">
        <p class="plate-short">Краткое условие участия</p>
        <p class="plate-hero">Слоган</p>
        <div class="plate-bar">
            <div>
                <a href="#"><button type="button" class="btn">Подробнее</button></a>
            </div>
            <div>
                <div class="star-holder">
                    <a href="#" data-toggle="tooltip" title="" class="star-half" data-original-title="Добавить в избранное" dtype="partners"></a>
                    <a href="#" data-toggle="tooltip" title="" class="star-full" data-original-title="Удалить из избранного" dtype="partners"></a>
                </div>
            </div>
        </div>
    </div>
</div>
}