<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="WebAPI" value="http://dev.lctest.ru/" />
    <!--<add key="WebAPI" value="http://37.18.75.173:17520/WebService/UNK/unklcmanagerpartner/" />-->
    <!--<add key="WebAPI" value="http://localhost:58629/" />-->
    
    <add key="HeaderAuthorization" value="Mloyalty-Authorization" />
    <add key="AccessTokenName" value="lcmanager_token" />
    <add key="RefreshTokenName" value="lcmanager_refresh_token" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PartnerDefault" value="9" />
    <add key="PosDefault" value="KidStart" />
    <add key="issuer" value="http://localhost/" />
    <add key="secret" value="IxrAjDoa2FqElO7IhrSrUJELhUckePEPVpaePlS_Xaw" />
    <add key="audience" value="Any" />
    <add key="serilog:using:MSSqlSever" value="Serilog.Sinks.MSSqlServer" />
    
    <!--<add key="serilog:write-to:MSSqlServer.connectionString" value="server=TYLER\PLIZCARDSQL;database=plizcard;uid=sa;pwd=SqlServ()65er" />-->
    <!--<add key="serilog:write-to:MSSqlServer.connectionString" value="server=TYLER\PLIZCARDSQL;database=plizcard;uid=sa;pwd=SqlServ()65er" />-->
    <!--<add key="serilog:write-to:MSSqlServer.connectionString" value="server=PlizcardTest\PLIZCARDTEST;database=plizcarddev;uid=sa;pwd=T01))ghRq67Gl" />-->
    <!--<add key="serilog:write-to:MSSqlServer.connectionString" value="server=DESKTOP-KJ8V5V0;database=plizcard;uid=sa;pwd=1" />-->
    <add key="serilog:write-to:MSSqlServer.tableName" value="Logs" />
    <add key="serilog:write-to:MSSqlServer.autoCreateSqlTable" value="false" />
    <add key="serilog:write-to:MSSqlServer.connectionString" value="server=DESKTOP-HIVIVA4\SQL_2014;database=plizcard;uid=sa;pwd=123456" />
    
    <!--Здесь устанавливается время жизни jwt tokena и refresh tokena в куках у пользователя
    Это время желательно должно быть больше времени указанного на сервере API,
    т.к. если время будет совпадать с серверным, то токены просто будут удаляться из куков пользователя и он будет перенаправляться в страницу авторизации
    А если установить время жизни например 365 дней, токены будут лежать в куках, но время их жизни будет проверяться на сервере и будет работать механизм обновления токенов-->
    <add key="jwt_token_cookie_expiration" value="365" />
    <add key="jwt_refresh_token_cookie_expiration" value="365" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Partner" connectionString="http://37.18.75.173:17520/WebService/UNK/unklcmanagerpartner/" />-->
    <!--<add name="Partner" connectionString="http://lctest.ru/" />-->
    <add name="Partner" connectionString="http://dev.lctest.ru/" />
    <!--<add name="Partner" connectionString="http://37.18.75.173:17520/WebService/UNK/apijwt/" />-->
    <!--<add name="Partner" connectionString="http://localhost:58629/" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceClientSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://40.68.121.90/webservice/loyconclient/loyconclient.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceClientSoap" contract="LoyconClient.ServiceClientSoap" name="ServiceClientSoap" />
    </client>
  </system.serviceModel>
</configuration>