/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/*html, body, .container-table {
    height: 100%;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}*/

@media (max-width: 768px) {
    html, body, .container-table {
        height: 100%;        
    }

    html, body {
        width: 100%;
        min-width: 436px;
    }

    .vertical-center-row {
        display: table-cell;
        vertical-align: top;
    }

    .div-contain-align {
        float:left;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    html, body, .container-table {
        height: 100%;
    }

    .container-table {
        display: table;
    }

    .vertical-center-row {
        display: table-cell;
        padding-top: 100px;
    }

    .div-contain-align {
        float: right;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    html, body, .container-table {
        height: 100%;
    }

    .container-table {
        display: table;
    }

    .vertical-center-row {
        display: table-cell;
        padding-top: 100px;
    }

    .div-contain-align {
        float: right;
    }
}

@media (min-width: 1200px) {
    html, body, .container-table {
        height: 100%;
    }

    .container-table {
        display: table;
    }

    .vertical-center-row {
        display: table-cell;
        padding-top: 100px;
    }

    .div-contain-align {
        float: right;
    }
}

@font-face {
    font-family: 'AFuturica';
    src: url(/fonts/AFuturica.woff);
}

@font-face {
    font-family: 'AFuturicaBook';
    src: url(/fonts/AFuturicaBook.woff);
}

@font-face {
    font-family: 'AFuturicaMedium';
    src: url(/fonts/AFuturicaMedium.woff);
}

.AFuturicaFont{
    font-family: AFuturica;
}

.AFuturicaBook {
    font-family: AFuturicaBook;
}

.AFuturicaMedium {
    font-family: AFuturicaMedium;
}

#Phone:hover, #Phone:active {
    border: 1px solid #24AA98;    
}

#Password:hover, #Password:active {
    border: 1px solid #24AA98;
}

input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: #24AA98;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
    outline: 0 none;
}