@Html.Partial("~/Views/Partial/TerminalModalOperations.cshtml")
@Html.Partial("~/Views/Partial/ActivationCard.cshtml")
@Html.Partial("~/Views/Partial/HandBonus.cshtml")
@Html.Partial("~/Views/Partial/ModalAlerts.cshtml")

<div class="modal">
    <div class="shopmoadlask">
        <h2>Внимание!</h2>
        <p>Подтверждаете удаление списка?</p>
        <a class="ok">Да</a>
        <a class="no">Нет</a>
    </div>
    <div class="shopmoadlcomp">
        <h2>Успешно!</h2>
        <p>Список успешно удален!</p>
        <a class="closs">Закрыть</a>
    </div>
    <div class="shopmoadback"></div>
</div>
<div class="modal">
    <div class="godshopmoadlask">
        <h2>Внимание!</h2>
        <p>Подтверждаете удаление списка?</p>
        <a class="ok">Да</a>
        <a class="no">Нет</a>
    </div>
    <div class="godshopmoadlcomp">
        <h2>Успешно!</h2>
        <p>Список успешно удален!</p>
        <a class="closs">Закрыть</a>
    </div>
    <div class="godshopmoadback"></div>
</div>