<div id="TerminalModalOperationError" class="modal">
    <div class="modal_error3">
        <h3 class="modal_ochibka">ПРОИЗОШЛА ОШИБКА!</h3>
        <p class="modal_paragraph">Проведите операцию снова</p>
        <button class="modal_button" id="TerminalModalOperationErrorClose">
            Закрыть
        </button>
    </div>
</div>

<div id="TerminalModalSuccessAdd" class="modal">
    <div class="modal_uspeh">
        <div class="modal_uspesho">
            <h3 class="modal_success">УСПЕШНО!</h3>
            <p class="modal_paragraph" id="TerminalModalSuccessAddInfo">Начислено 200 бонусов!</p>
        </div>
        <button class="modal_button" id="TerminalModalSuccessAddClose">
            Закрыть
        </button>
    </div>
</div>

<div id="TerminalModalErrorRegister" class="modal">
    <!-- Modal content
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
    </div>-->
    <div class="modal_error">
        <h3 class="modal_ochibka">Произошла ошибка!</h3>
        <p class="modal_paragraph">Данный клиент уже зарегистирован в Программе</p>
        <button class="modal_button" id="TerminalModalErrorRegisterClose">
            Закрыть
        </button>
    </div>
</div>

<div id="TerminalModalSuccessRegister" class="modal">
    <div class="modal_uspeh1">
        <div class="modal_uspesho">
            <h3 class="modal_success">УСПЕШНО!</h3>
            <p class="modal_paragraph">Клиент успешно зарегистирован в Программе</p>
        </div>
        <button class="modal_button" id="TerminalModalSuccessRegisterClose">
            Закрыть
        </button>
    </div>
</div>
