<div id="TerminalModalClientCoincidence" class="modal">
    <div class="modal_error1">
        <h3 class="modal_ochibka">ВЫЯВЛЕНЫ СОВПАДЕНИЯ!</h3>
        <p class="modal_paragraph">
            Введите полный номер телефона без «8» или «+7»<br>
            или номер карты клиента
        </p>
        <button class="modal_button" id="TerminalModalClientCoincidenceClose">
            Закрыть
        </button>
    </div>
</div>

<div id="TerminalModalChequeAdd" class="modal">
    <div class="modal_purchase1">
        <h3 class="modal_success">Успешно!</h3>
        <table class="modal_pokupca">
            <tr>
                <td class="modal_td">Покупка, руб.:</td>
                <td class="modal_td" id="TerminalModalChequeAddAmount">250 000</td>
            </tr>
            <tr>
                <td class="modal_td">Начислено бонусов:</td>
                <td class="modal_td" id="TerminalModalChequeAddBonusAdd">350</td>
            </tr>
            <tr>
                <td class="modal_td">Списано бонусов:</td>
                <td class="modal_td" id="TerminalModalChequeAddBonusRedeemed">2 500</td>
            </tr>
            <tr>
                <td class="modal_td">Деньги в кассу, руб.:</td>
                <td class="modal_td" id="TerminalModalChequeAddCash">245 000</td>
            </tr>
        </table>
        <div class="modal_button3">
            <button class="modal_button1" id="TerminalModalChequeAddClose">
                Закрыть
            </button>
            @*<button class="modal_button2" id="TerminalModalChequeAddPrint">
                    Печать чека
                </button>*@
        </div>
    </div>
</div>

<div id="TerminalModalRefund" class="modal">
    <div class="modal_purchase">
        <h3 class="modal_success">УСПЕШНО!</h3>
        <table class="modal_pokupca">
            <tr>
                <td class="modal_td">Возврат, руб.:</td>
                <td class="modal_td" id="TerminalModalRefundAmount">250 000</td>
            </tr>
            <tr>
                <td class="modal_td">Начислено бонусов:</td>
                <td class="modal_td" id="TerminalModalRefundBonusAdd">350</td>
            </tr>
            <tr>
                <td class="modal_td">Списано бонусов:</td>
                <td class="modal_td" id="TerminalModalRefundBonusRedeem">2 550</td>
            </tr>
        </table>
        <div class="modal_button3">
            <button class="modal_button1" id="TerminalModalRefundClose">
                Закрыть
            </button>
            @*<button class="modal_button2">
                    Печать чека
                </button>*@
        </div>
    </div>
</div>
