
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="contentwrapper">
    <main role="main" id="main">
        <section class="content-medium">
            <div class="twocolumns">
                <div class="twocolumns-content" style="padding-top:23px;">
                    @*<h1><a href='/Partners/Details/@ViewContext.RouteData.Values["id"].ToString()'>@Model.name</a> > Торговые точки</h1>*@
                    <a class="fontlatoregular" style="font-size: 15px;" href='/Partners/Details/@ViewContext.RouteData.Values["id"].ToString()'>Вернуться</a>
                    <div class="content-bg">
                        <div id="map-switch-list" class="block-toggle">
                            <a id="map-switch-point" class="header-link action-blocks-toggle" data-toggle-class="block-toggle" href="#">посмотреть на карте</a>
                            <div class="plate">
                                @Html.Partial("_posesBlock", API.GetPoses(int.Parse(@ViewContext.RouteData.Values["id"].ToString())))
                            </div>
                        </div>
                        <div id="map-switch-map" class="block-toggle active">
                            <a id="map-switch" class="header-link action-blocks-toggle fontlatoregular" style="font-size: 15px;" data-toggle-class="block-toggle" href="#">Список</a>
                            <div id="map"></div>
                        </div>

                        <script src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"> </script>
                        <script>
								var myMap;
								ymaps.ready(function () {
								    myMap = new ymaps.Map("map", {
								        center: [55.76, 37.64],
								        zoom: 20,
								    }, { suppressMapOpenBlock: true });

								    myMap.controls.add("mapTools")
                                    .add("zoomControl");

								    $("span.getcoords").each(function () {
									    var c = $(this).text().replace(" ","");
									    var cc = c.split(",");
									    console.log(cc);
									    var placemark = new ymaps.Placemark(cc, {
									        balloonContent: $(this).attr("data")
									    });
//									    placemark.name = "Акция";
	//								    placemark.description = $(this).attr("data");
									    myMap.geoObjects.add(placemark);
									    myMap.setCenter([cc[0], cc[1]], 16, {
									        checkZoomRange: true
									    });
									});
                                    
								});
                        </script>
                    </div>
                </div>
                <div class="twocolumns-aside">
                    @Html.Partial("_leftcolumnActions")
                </div>
            </div>
        </section>
    </main>
</div>
