<!-- Message -->
<div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-header">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h1 id="message-modal-header" class="modal-title">Внимание!</h1>
            </div>
            <div class="modal-body">
                <p id="message-modal-body">
                    Сообщение
                </p><br/>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Confirm -->
<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-modal-header">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h1 id="confirm-modal-header" class="modal-title">Внимание!</h1>
            </div>
            <div class="modal-body">
                <p id="confirm-modal-body">
                    Сообщение
                </p><br />
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary" style="border: none;" id="delete">Выйти</button>
                    <button type="button" data-dismiss="modal" class="btn" style="border: none;">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>

