	<!-- Register -->
<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="register-modal-header">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 id="register-modal-header" class="modal-title">Регистрация</h1>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-item">
                        <input type="text" placeholder="Имя *" class="required" name="name" id="register-firstname">
                    </div>
                    <div class="form-item">
                        <input type="text" placeholder="Фамилия" name="lname" id="register-lastname">
                    </div>
                    <div class="form-item">
                        <input type="text" placeholder="Отчество" name="mfname" id="register-middlename">
                    </div>
                    <div class="form-item">
                        <input type="text" class="masked-phone required" placeholder="Номер мобильного телефона *" name="phone" id="register-phone">
                    </div>
                    <div class="form-item">
                        <input type="email" class="masked-email required" placeholder="Адрес электронной почты *" name="email" id="register-email">
                    </div>
                    <div class="form-item" style="text-align: right; margin-bottom: 0.4em; display: none;">
                        <span class="form-label-inline">У меня уже есть карта</span> <select name="havecard" id="havecard">
                            <option value="yes">да</option>
                            <option value="no" selected>нет</option>
                        </select>
                    </div>
                    <div class="form-item" id="form-item-cardnum" style="display: none;">
                        <input type="text" placeholder="Номер карты" name="cardnum" id="register-cardnum">
                    </div>
                    <div class="form-item form-item-double">
                        <div>
                            <span class="form-label-inline">Дата рождения </span> <input type="text" class="inverted" id="register-modal-input-bd" name="birthday">
                        </div>
                        <div>
                            <p style="display: inline-block; vertical-align: top;" class="form-label-inline">Пол</p> <select name="gender" id="register-gender">
                                <option value="1">Муж.</option>
                                <option value="-1">Жен.</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-item">
                        <input type="password" placeholder="Пароль" name="password" id="register-password">
                    </div>
                    <div class="form-item">
                        <input type="password" placeholder="Повторите пароль" id="register-password2" name="password2">
                    </div>
                    <div class="form-item">
                        <p class="form-p-required">* Поля, обязательные для ввода</p>
                    </div>
                    <div class="form-item" style="text-align: right; margin-bottom: 0.4em; white-space: nowrap">
                        <a href="~/files/Rules-WeKudrovo_v1.docx" class="form-label-inline-multiline">
                            Я ознакомился и согласен с Условиями<br />
                            участия в программе ПОЖАЛУЙСТА
                        </a> <select name="iamagree" id="register-agree">
                            <option value="yes">да</option>
                            <option value="no" selected>нет</option>
                        </select>
                    </div>
                    <div class="form-center-item">
                        <button type="submit" id="register-continue" class="btn">Продолжить регистрацию</button>
                    </div>
                    <div id="register-step2" style="display: none; margin: 2em 0 0 0">
                        <div class="form-item">
                            <input type="text" placeholder="Введите проверочный код из SMS" name="smscode" id="sms-code-field">
                        </div>
                        <div class="form-item form-item-request">
                            <div class="timer">
                                Запросить код повторно через <span>60</span> сек.
                            </div>
                            <div class="timer-button" style="display: none;">
                                <button type="submit" id="request-again" class="btn">Запросить код повторно</button>
                            </div>
                        </div>
                        <div class="form-center-item">
                            <button type="submit" id="complete-registration" name="ok" class="btn">Завершить регистрацию</button>
                            <!--data-dismiss="modal"-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
