@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
</head>
<body style="background-color: #FCFCFC;">
    <div class="container container-table">
        <div class="row vertical-center-row">
            <div class="col-xs-12 col-sm-6">
                <div class="div-contain-align" style="max-height:230px; max-width:376px; font-family: AFuturica; padding-top:10px;">
                    <p style="font-size: 18px">LC-MANAGER</p>
                    <p style="font-size: 16px; color:#808080;">
                        Для авторизации необходимо ввести ваши персональные логин и пароль. В случае возникновения проблем свяжитесь с вашим менеджером или обратитесь в службу технической поддержки удобным для вас способом
                    </p>
                    <address style="font-size: 14px; color:#58AFDD">
                        <i class="fa fa-phone"></i> <span style="vertical-align: 2px;">+</span>7 (909) 786-62-52<br>
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:help@lc-manager.ru">help@lc-manager.ru</a>
                    </address>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6" style="padding-top: 24px;">
                <div style="border: 1px solid #E8E8E8; border-radius: 10px; height:170px; width:376px;">
                    <p style="padding-left: 15px; padding-top:21px; font-size:16px; font-family:AFuturica;">Успешно</p>
                    <p style="padding-left: 15px; font-size:14px; font-family:AFuturica; color: #14baa3">Ваш пароль изменён. Вы можете зайти на сайт с использованием нового пароля.</p>
                    <a href="@Url.Action("Login", "Account")" class="btn AFuturicaMedium" style="background:#58AFDD; color: #fff; font-size: 16px; width: 100px; height:36px; margin-left: 15px; margin-top: 8px;">Закрыть</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script type="text/javascript">
            jQuery(function ($) {
                $("#Code").mask("9999");
            });
    </script>
</body>
</html>